<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ wallet?.coinProtocol.symbol | uppercase }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentEditPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-row style="display: block"><portfolio-item [wallet]="wallet"></portfolio-item></ion-row>
  <ion-row class="background--color__primary" padding><span ion-text color="white" class="font--weight__bold">Transactions</span></ion-row>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>

  <div
    padding-horizontal
    class="empty-list"
    *ngIf="transactions.length === 0 && !isRefreshing && protocolIdentifier === 'ae' && !aeTxEnabled"
  >
    <img padding-vertical src="../../assets/img/ae-token-migration.svg" />
    <h5 ion-text color="primary">
      {{ wallet?.currentBalance?.toNumber() | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: '10' } }}
    </h5>
    <p>Your tokens will become transferable after the æternity mainnet has launched.</p>
  </div>

  <div padding-horizontal class="empty-list" *ngIf="transactions.length === 0 && !isRefreshing">
    <img padding-vertical src="../../assets/img/empty-state-no-transaction.svg" />
    <p *ngIf="protocolIdentifier !== 'ae' || (protocolIdentifier === 'ae' && aeTxListEnabled)">
      There are no transactions yet for this wallet.
    </p>
    <span *ngIf="protocolIdentifier === 'ae' && !aeTxListEnabled">
      <p>Currently unable to display the transaction history. Please refer to the Blockexplorer.</p>
      <button default ion-button color="secondary" (click)="openReceivePage()" round icon-end>
        Open Blockexplorer
        <ion-icon md-name="open_in_new" (click)="openBlockexplorer()"></ion-icon>
      </button>
    </span>
  </div>

  <ion-list no-lines>
    <ion-item *ngFor="let t of transactions" (click)="openTransactionDetailPage(t)">
      <ion-avatar item-start>
        <identicon *ngIf="t.isInbound" [address]="t.from[0]"></identicon>
        <identicon *ngIf="!t.isInbound" [address]="t.to[0]"></identicon>
      </ion-avatar>
      <h2>
        <ion-icon *ngIf="t.isInbound" md-name="call_received"></ion-icon>
        <ion-icon *ngIf="!t.isInbound" md-name="call_made"></ion-icon>
        <span class="font--weight__bold" ion-text color="black">
          {{ t.amount | amountConverter: { protocolIdentifier: wallet.protocolIdentifier } }}
        </span>
      </h2>
      <h3 ion-text color="blackLight" class="typography--mono">
        <ng-container *ngIf="t.isInbound">{{ t.from[0] | shortenString }}</ng-container>
        <ng-container *ngIf="!t.isInbound">{{ t.to[0] | shortenString }}</ng-container>
      </h3>
      <ion-row class="items--right" item-end>
        <ion-col no-padding>
          <ion-row justify-content-end>
            <p ion-text color="blackLight" *ngIf="t.timestamp">
              {{
                t.timestamp
                  | amFromUnix
                  | amCalendar: { sameDay: '[Today]', lastDay: '[Yesterday]', lastWeek: '[Last] dddd', sameElse: 'HH:mm' }
              }}
            </p>
          </ion-row>
          <ion-row justify-content-end>
            <p ion-text color="blackLight" *ngIf="t.timestamp">
              {{
                t.timestamp
                  | amFromUnix
                  | amCalendar: { sameDay: '[at] HH:mm', lastDay: '[at] HH:mm', lastWeek: '[at] HH:mm', sameElse: 'L' }
              }}
            </p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <div *ngIf="isRefreshing" class="loading-content"><ion-spinner color="black"></ion-spinner></div>
  </ion-list>

  <ion-fab bottom>
    <ion-row>
      <ion-col>
        <button full default ion-button color="primary" (click)="openReceivePage()" round icon-start>
          <ion-icon md-name="call_received"></ion-icon>
          Receive
        </button>
      </ion-col>
      <ion-col>
        <button
          full
          default
          ion-button
          color="primary"
          (click)="openPreparePage()"
          [disabled]="protocolIdentifier === 'ae' && !aeTxEnabled"
          round
          icon-start
        >
          <ion-icon name="send"></ion-icon>
          Send
        </button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>
