<ion-item *ngIf="wallet; else skeletonWallet" no-lines>
  <ion-avatar item-start>
    <identicon *ngIf="!isToken" [address]="wallet.receivingPublicAddress"></identicon>
    <currency-symbol [symbol]="wallet.coinProtocol.symbol" *ngIf="isToken"></currency-symbol>
  </ion-avatar>
  <ion-label>
    <currency-symbol [symbol]="wallet.coinProtocol.symbol" *ngIf="!isToken" class="symbol--icon"></currency-symbol>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncingHeading">
      {{
        wallet.currentBalance?.toNumber()
          | amountConverter
            : {
                protocolIdentifier: wallet.protocolIdentifier,
                maxDigits: maxDigits
              }
      }}
    </h2>
    <ng-template #syncingHeading>
      <div class="skeleton--loading"><h2></h2></div>
    </ng-template>
    <ng-container *ngIf="!isToken">
      <h3 *ngIf="wallet.addresses.length > 0; else syncingHeadingLow" ion-text color="blackLight" class="typography--mono">
        {{ wallet.receivingPublicAddress | shortenString }}
      </h3>
    </ng-container>

    <ng-template #syncingHeadingLow>
      <div class="skeleton--loading"><h3></h3></div>
    </ng-template>
  </ion-label>

  <ion-row class="items--right" item-end>
    <ion-col col-12 no-padding text-right>
      <strong *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncingBalance">
        <p ion-text color="black">
          ${{
            wallet.currentBalance
              | cryptoToFiat: { protocolIdentifier: wallet.protocolIdentifier, currentMarketPrice: wallet.currentMarketPrice }
              | number: '1.2-2'
          }}
        </p>
      </strong>
      <ng-template #syncingBalance>
        <div class="skeleton--loading"><p></p></div>
      </ng-template>
    </ion-col>
    <ion-col col-12 no-padding text-right>
      <p *ngIf="wallet.currentBalance; else syncingPrice">
        <span *ngIf="wallet.currentBalance > 0" ion-text color="blackLight">
          ${{ wallet.currentMarketPrice?.toNumber() | number: '1.2-4' }}
        </span>
        <!-- <span ion-text [ngClass]="wallet.change24hour >= 0 ? 'green' : 'red'">{{ wallet.change24hour }}%</span> -->
      </p>
      <ng-template #syncingPrice>
        <div class="skeleton--loading"><p></p></div>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-item>

<ng-template #skeletonWallet>
  <ion-list>
    <ion-item class="skeleton--loading__container" no-lines>
      <ion-avatar item-start></ion-avatar>
      <ion-label>
        <div class="symbol--icon"></div>
        <h2></h2>

        <h3 *ngIf="!isToken"></h3>
      </ion-label>

      <ion-row class="items--right" item-end>
        <ion-col col-12 no-padding text-right><p></p></ion-col>
        <ion-col col-12 no-padding text-right><p></p></ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ng-template>
