portfolio-item {
  .symbol--icon {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 40px;
    top: 40px;
  }
  h2,
  .items--right ion-col:first-of-type {
    margin: 2px 0px 6px !important;
  }
  .green {
    color: #2ecc40;
  }
  .red {
    color: #ff4136;
  }
  ion-avatar {
    background-color: color($colors, light);
    border-radius: 50%;
  }
  .skeleton--loading {
    -webkit-animation: infinite bgcolorchange 4s;
    animation: 4s infinite bgcolorchange;
    opacity: 0.5;
    h2 {
      height: 19px;
      width: 80%;
    }
    p {
      height: 17px;
      width: 80%;
      min-width: 25px;
    }
  }
  @keyframes bgcolorchange {
    0% {
      background: color($colors, light);
    }
    25% {
      background: color($colors, gray);
    }
    50% {
      background: color($colors, light);
    }
    75% {
      background: color($colors, gray);
    }
    100% {
      background: color($colors, light);
    }
  }

  @-webkit-keyframes bgcolorchange {
    0% {
      background: color($colors, light);
    }
    25% {
      background: color($colors, gray);
    }
    50% {
      background: color($colors, light);
    }
    75% {
      background: color($colors, gray);
    }
    100% {
      background: color($colors, light);
    }
  }
}
