<ion-item *ngIf="wallet; else skeletonWallet">
  <img class="symbol--icon" [src]="'assets/symbols/' + wallet.coinProtocol.symbol.toLowerCase() + '.svg'" />
  <ion-avatar item-start><identicon [address]="wallet.receivingPublicAddress"></identicon></ion-avatar>
  <h2 *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncing">
    <span class="font--weight__bold" ion-text color="black">
      {{ wallet.currentBalance?.toNumber() | amountConverter : { protocolIdentifier: wallet.protocolIdentifier, maxDigits: maxDigits } }}
    </span>
  </h2>
  <ng-template #syncing>
    <div class="skeleton--loading"><h2></h2></div>
  </ng-template>

  <h3 *ngIf="wallet.addresses.length > 0" ion-text color="blackLight" class="typography--mono">
    {{ wallet.receivingPublicAddress | shortenString }}
  </h3>

  <ion-row class="items--right" item-end>
    <ion-col col-12 no-padding text-right>
      <strong *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncing">
        <p ion-text color="black">
          ${{ wallet.currentBalance | cryptoToFiat: { protocolIdentifier: wallet.protocolIdentifier, currentMarketPrice:
          wallet.currentMarketPrice } | number: '1.2-2' }}
        </p>
      </strong>
      <ng-template #syncing>
        <div class="skeleton--loading"><p></p></div>
      </ng-template>
        
    </ion-col>
    <ion-col col-12 no-padding text-right>
      <p *ngIf="wallet.currentBalance; else syncing">
        <span *ngIf="wallet.currentBalance > 0" ion-text color="blackLight">
          ${{ wallet.currentMarketPrice?.toNumber() | number: '1.2-4' }}
        </span>
        <!-- <span ion-text [ngClass]="wallet.change24hour >= 0 ? 'green' : 'red'">{{ wallet.change24hour }}%</span> -->
      </p>
      <ng-template #syncing>
        <div class="skeleton--loading"><p></p></div>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-item>
<ng-template #skeletonWallet>
  <ion-item>
    <img class="symbol--icon" />
    <ion-avatar item-start>identicon</ion-avatar>

    <div class="skeleton--loading"><h2></h2></div>
  
    <div class="skeleton--loading"><h2></h2></div>
  
    <ion-row class="items--right" item-end>
      <ion-col col-12 no-padding text-right>
        <div class="skeleton--loading"><p></p></div>
      </ion-col>
      <ion-col col-12 no-padding text-right>
        <div class="skeleton--loading"><p></p></div>
      </ion-col>
    </ion-row>
  </ion-item>      
</ng-template>