<form [formGroup]="widgetForm">
  <ion-row class="ion-padding-horizontal padding-top ion-align-items-center value__container">
    <ion-col size="9" class="value--container__input ion-no-padding">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label color="blackLight" class="ion-no-margin" position="stacked">{{ widget.label | translate }}</ion-label>
        <ion-input [type]="widget.inputType" [placeholder]="widget.placeholder" [formControlName]="widget.id"></ion-input>
      </ion-item>
      <ion-text class="ion-no-margin" color="blackLight" *ngIf="widget.extraLabel || widget.createExtraLabel">
        <p class="ion-no-margin">{{ widget.extraLabel | translate }}</p>
      </ion-text>
    </ion-col>
    <ion-col size="3" class="ion-no-padding" *ngIf="widget.fixedValue || widget.getFixedValue">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            shape="round"
            [fill]="widget.isValueFixed ? 'solid' : 'outline'"
            size="small"
            color="secondary"
            (click)="widget.toggleValue()"
          >
            {{ widget.toggleFixedValueButton | translate }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal ion-padding-bottom" *ngIf="widget.formControl && widget.errorLabel">
    <ion-col size="12" *ngIf="widget.formControl.invalid">
      <ion-text class="ion-no-margin" color="danger">
        <p class="ion-no-margin">{{ widget.errorLabel | translate }}</p>
      </ion-text>
    </ion-col>
  </ion-row>
</form>
