.container {
  width: 300px;
  height: 180px;
  display: block;
  position: relative;
  perspective: 800px;
  border-radius: 4px;
}

.card {
  width: 100%;
  min-height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background-color: var(--ion-color-light);
  display: grid;
  place-items: center;
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background-color: var(--ion-color-light-contrast);
  color: var(--ion-color-light);
  display: grid;
  place-items: center;
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.arrow-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 25%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 35px;
}
