airgap-currency-symbol {
  position: absolute;
  left: 24px;
  top: 32px;
  height: 24px;
  width: 24px;
}

airgap-identicon,
airgap-identicon img {
  height: 40px;
  width: 40px;
}

.paste--button {
  padding-top: 4px;
}
.asset--container {
  height: 48px;
}
