*.tmp
*.tmp.*
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.md5
