<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>{{ 'wallet-import.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">
  <ion-row *ngIf="!walletAlreadyExists">
    <p>{{ 'wallet-import.text' | translate }}</p>
  </ion-row>

  <portfolio-item [wallet]="wallet" [maxDigits]="8"></portfolio-item>

  <ion-item *ngIf="walletAlreadyExists" color="danger" margin-top text-wrap>{{ 'wallet-import.warning' | translate }}</ion-item>

  <ion-fab bottom right>
    <button ion-button round color="white" (click)="dismiss()">{{ 'wallet-import.cancel_label' | translate }}</button>
    <button ion-button round color="secondary" *ngIf="!walletAlreadyExists" (click)="import()">
      {{ 'wallet-import.import_label' | translate }}
    </button>
  </ion-fab>
</ion-content>
