<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>{{ 'CONFIRM_IMPORT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding class="colored-background">

  <ion-row *ngIf="!walletAlreadyExists">
    <p>
      {{ 'CONFIRM_IMPORT_QUESTION' | translate }}
    </p>
  </ion-row>

  <portfolio-item [wallet]="wallet"></portfolio-item>

  <ion-item *ngIf="walletAlreadyExists" color="danger" margin-top text-wrap>
    {{ 'WALLEY_ALREADY_ADDED' | translate }}
  </ion-item>

</ion-content>


<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button ion-button round color="white" (click)="dismiss()">
        {{ 'CANCEL' | translate }}
      </button>
      <button ion-button round color="secondary" *ngIf="!walletAlreadyExists" (click)="import()">
        {{ 'IMPORT' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
