<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-margin-bottom">{{ message }}</p>

  <ion-button (click)="copyToClipboard()">Copy Error To Clipboard</ion-button>

  <pre *ngIf="data">{{ parsedData }}</pre>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="dismiss()">Close</ion-button>
  </ion-fab>
</ion-content>
