<ion-header class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!isDesktop">{{ 'interaction-selection.title' | translate }}</ion-title>
      <ion-title *ngIf="isDesktop">{{ 'interaction-selection-desktop.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding" *ngIf="!isDesktop">
  <ion-grid fixed="true" class="ion-no-padding">
    <h3 class="ion-padding-bottom ion-no-margin" [innerHTML]="'interaction-selection.heading' | translate"></h3>
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="6">
        <ion-row class="ion-justify-content-center">
          <img src="./assets/img/sign-one-device.svg" />
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button id="online" expand="block" color="primary" (click)="sameDeviceSign()" shape="round">
              {{ 'interaction-selection.same-device_label' | translate }}
            </ion-button>
            <p>{{ 'interaction-selection.same-device_info' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-padding-top">
          <img src="./assets/img/sign-two-device.svg" />
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button id="offline" expand="block" size="default" color="primary" (click)="offlineDeviceSign()" shape="round">
              {{ 'interaction-selection.offline-device_label' | translate }}
            </ion-button>
            <p>{{ 'interaction-selection.offline-device_info' | translate }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="ion-padding" *ngIf="isDesktop">
  <ion-grid fixed="true" class="ion-no-padding">
    <h3 class="ion-padding-bottom ion-no-margin" [innerHTML]="'interaction-selection-desktop.heading' | translate"></h3>
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="6">
        <ion-row class="ion-justify-content-center ion-padding-top">
          <img *ngIf="!isDesktop" src="./assets/img/sign-two-device.svg" />
          <img *ngIf="isDesktop" src="./assets/img/signer-vault-desktop.svg" />
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button id="offline" expand="block" size="default" color="primary" (click)="offlineDeviceSign()" shape="round">
              {{ 'interaction-selection-desktop.vault_label' | translate }}
            </ion-button>
            <p>{{ 'interaction-selection-desktop.vault_info' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center"><img src="./assets/img/signer-ledger.svg" /></ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button id="online" expand="block" color="primary" (click)="ledgerSign()" shape="round" [disabled]="!isLedgerSupported">
              {{ 'interaction-selection-desktop.ledger_label' | translate }}
            </ion-button>
            <p>{{ 'interaction-selection-desktop.ledger_info' | translate }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
