page-account-import-onboarding {
  ion-slides {
    height: calc(100% - 72px);
  }
  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: color($colors, primary, base);
  }
  .swiper-slide {
    font-size: 1.4rem;
  }
  .slide-zoom {
    height: 100%;
    padding: 64px 0 0;
  }
}
