<ion-item lines="none" button="true" detail="false" *ngIf="(groups$ | async) && (groups$ | async).length > 0">
  <ng-container *ngIf="(groups$ | async) && (groups$ | async).length === 1">
    <ion-text slot="start">{{ 'current-wallet-group.label' | translate }}</ion-text>
    <p slot="end">
      {{ currentGroup$ | async | groupLabel | translate }}
    </p>
  </ng-container>
  <ion-select
    *ngIf="(groups$ | async) && (groups$ | async).length > 1"
    label="{{ 'current-wallet-group.label' | translate }}"
    justify="space-between"
    labelPlacement="start"
    [value]="currentGroup$ | async"
    (ionChange)="onChange($event)"
    interface="popover"
  >
    <ion-select-option *ngFor="let group of groups$ | async" [value]="group">
      <ion-text>
        {{ group | groupLabel | translate }}
      </ion-text>
    </ion-select-option>
  </ion-select>
</ion-item>
