<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span [innerHTML]="'account-import-onboarding.title' | translate: { protocolName: protocol.name }"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p [innerHTML]="'account-import-onboarding.text' | translate: { protocolName: protocol.name }" padding-horizontal></p>

  <ion-slides pager="true" [options]="slideOpts" #slides (ionSlideDidChange)="ionSlideDidChange()">
    <ion-slide padding-horizontal>
      <div class="slide-zoom">
        <img src="/assets/img/account-import-onboarding-slide_1.png" />
        <ion-text>
          <p text-left [innerHTML]="'account-import-onboarding.slides.slide-1.text' | translate"></p>
        </ion-text>
        <ion-text>
          <p text-left [innerHTML]="'account-import-onboarding.slides.slide-1.description' | translate"></p>
        </ion-text>
      </div>
    </ion-slide>
    <ion-slide padding-horizontal>
      <div class="slide-zoom">
        <img src="/assets/img/account-import-onboarding-slide_2.png" />
        <p text-left [innerHTML]="'account-import-onboarding.slides.slide-2_text' | translate"></p>
      </div>
    </ion-slide>
    <ion-slide padding-horizontal>
      <div class="slide-zoom">
        <img src="/assets/img/account-import-onboarding-slide_3.png" />
        <p text-left [innerHTML]="'account-import-onboarding.slides.slide-3.text' | translate"></p>
        <p text-left [innerHTML]="'account-import-onboarding.slides.slide-3.description' | translate"></p>
      </div>
    </ion-slide>
    <ion-slide padding-horizontal>
      <div class="slide-zoom">
        <img src="/assets/img/account-import-onboarding-slide_4.png" />
        <p text-left [innerHTML]="'account-import-onboarding.slides.slide-4.text' | translate"></p>
        <p text-left [innerHTML]="'account-import-onboarding.slides.slide-4.description' | translate: { protocolName: protocol.name }"></p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer no-border no-shadow>
  <ion-toolbar no-padding>
    <ion-buttons *ngIf="!isBegin" slot="end">
      <ion-button flat color="primary" (click)="slides.slidePrev()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isEnd" slot="end">
      <ion-button flat color="primary" (click)="slides.slideNext()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="isEnd" slot="end">
      <ion-button flat color="primary" (click)="openVault()">
        Open Vault
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
