ion-slides {
  height: calc(100% - 72px);
  @media (min-width: 768px) {
    .swiper-slide img {
      width: 40vw;
    }
  }
}
.swiper-slide {
  font-size: 1rem;
}
.slide-zoom {
  height: 100%;
  padding: 64px 0 0;
}

.sub-protocol__container {
  min-height: 200px;
  img {
    width: 56px !important;
  }
  ion-col:nth-child(2) {
    padding-bottom: 46px;
  }
}
