<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed="true" class="ion-no-padding">
    <ng-container *ngIf="request.method === requestMethod.SESSION_REQUEST">
      <ion-card>
        <ion-card-header>
          A new DApp wants to connect
        </ion-card-header>
        <ion-card-content>
          <h3>{{ name }}</h3>
          <p>{{ description }}</p>
          <img [src]="icon" />
          <a [href]="url" target="_blank">Link</a>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <div *ngIf="request.method === requestMethod.ETH_SENDTRANSACTION" class="request--container">
      <ng-container *ngFor="let transaction of transactions">
        <airgap-from-to [transaction]="transaction"></airgap-from-to>
      </ng-container>
    </div>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="secondary" (click)="dismiss()">
      Cancel
    </ion-button>

    <ion-button shape="round" color="primary" (click)="done()">
      Ok
    </ion-button>
  </ion-fab>
</ion-content>
