<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'exchange-select.title' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()" fill="clear" color="secondary">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-list lines="none">
      <ion-radio-group [(ngModel)]="selectedExchange" (ngModelChange)="onModelChange()" lines="none" name="selectedExchange" required>
        <ion-item>
          <ion-label>ChangeNow</ion-label>
          <ion-radio slot="end" [value]="ExchangeEnum.CHANGENOW"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Changelly</ion-label>
          <ion-radio slot="end" [value]="ExchangeEnum.CHANGELLY"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Quipuswap</ion-label>
          <ion-radio slot="end" [value]="ExchangeEnum.QUIPUSWAP"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-grid>
</ion-content>
