<ion-header class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'add-sub-account.title' | translate: { typeLabel: typeLabel | translate } }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems(searchTerm)"></ion-searchbar>
    </ion-toolbar>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-row class="ion-padding">
      <ion-text class="font--weight__bold" color="primary">
        <span>{{ typeLabel | translate }}</span>
      </ion-text>
    </ion-row>

    <empty-state
      *ngIf="!subAccounts.length"
      [text]="'add-sub-account.no-imports_text' | translate: { typeLabel: typeLabel | translate }"
      [imageName]="wallet.protocol.identifier === mainProtocolSymbols.XTZ ? 'no-imports.svg' : 'currencies-empty.svg'"
      [fullHeight]="wallet.protocol.identifier === mainProtocolSymbols.XTZ ? false : true"
    ></empty-state>

    <ion-row class="ion-no-padding" *ngFor="let subAccount of displayedSubAccounts">
      <ion-col size="10" class="ion-no-padding">
        <portfolio-item
          [isToken]="subProtocolType === subProtocolTypes.TOKEN"
          [wallet]="subAccount.wallet"
          tappable
          (click)="toggleAccount(subAccount)"
        ></portfolio-item>
      </ion-col>
      <ion-col size="2" class="content--align__center-center ion-no-padding">
        <ion-checkbox [(ngModel)]="subAccount.selected" color="primary"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" (click)="addSubAccounts()" color="secondary" [disabled]="!subAccounts.length">
      <ion-icon slot="start" name="add"></ion-icon>
      {{ 'add-sub-account.add-accounts_label' | translate: { typeLabel: typeLabel | translate } }}
    </ion-button>
  </ion-fab>
</ion-content>
