.progress--container {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 232, 204, 0.12);
}

.progress--current {
  height: inherit;
  background-color: var(--ion-color-primary);
}

.border--container {
  border: 1px solid var(--ion-color-secondary);
  border-radius: 50%;
}

.segment--container {
  min-height: 185px;
}

ion-segment {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment-button {
    min-width: fit-content;
  }
}
