<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'introduction.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="secondary">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" forceOverflow="false">
  <ion-segment [(ngModel)]="security" color="secondary" *ngIf="!isDesktop" value="highest">
    <ion-segment-button value="highest">
      <ion-label>{{ 'introduction.highest.label' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="medium">
      <ion-label>{{ 'introduction.medium.label' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="security === 'highest'">
    <ion-row>
      <p [innerHTML]="'introduction.highest.text' | translate" *ngIf="!isDesktop"></p>
      <p [innerHTML]="'introduction.highest.desktop_text' | translate" *ngIf="isDesktop"></p>
    </ion-row>

    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="5" *ngIf="isDesktop"><img src="./assets/img/airgap_onboarding_wallet-notebook.svg" /></ion-col>
      <ion-col size="5" *ngIf="!isDesktop"><img src="./assets/img/airgap_onboarding_wallet.svg" /></ion-col>
      <ion-col size="7">
        <h5>{{ 'introduction.wallet.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.wallet.text' | translate"></p>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="!isDesktop">
      <ion-row class="ion-padding-vertical ion-align-items-center">
        <ion-col size="5" class="ion-text-center"><img class="connector--img" src="./assets/img/qrcode.svg" /></ion-col>
        <ion-col size="7">
          <strong>{{ 'introduction.communication.highest_text' | translate }}</strong>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="5"><img src="./assets/img/airgap_onboarding_vault.svg" /></ion-col>
        <ion-col size="7">
          <h5>{{ 'introduction.vault.heading' | translate }}</h5>
          <p [innerHTML]="'introduction.vault.text' | translate"></p>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="isDesktop">
      <ion-row class="ion-align-items-center">
        <ion-col size="5"><img src="./assets/img/signer-vault-ledger-desktop.svg" /></ion-col>
        <ion-col size="7">
          <h5>{{ 'introduction.vault.desktop_heading' | translate }}</h5>
          <p [innerHTML]="'introduction.vault.desktop_text' | translate"></p>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="security === 'medium'">
    <ion-row>
      <p [innerHTML]="'introduction.medium.text' | translate"></p>
    </ion-row>

    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="5"><img src="./assets/img/airgap_onboarding_wallet.svg" /></ion-col>
      <ion-col size="7">
        <h5>{{ 'introduction.wallet.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.wallet.text' | translate"></p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-vertical ion-align-items-center">
      <ion-col size="5" class="ion-text-center"><img class="connector--img" src="./assets/img/clone.svg" /></ion-col>
      <ion-col size="7">
        <strong>{{ 'introduction.communication.medium_text' | translate }}</strong>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="5"><img src="./assets/img/airgap_onboarding_vault.svg" /></ion-col>
      <ion-col size="7">
        <h5>{{ 'introduction.vault.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.vault.text' | translate"></p>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button id="introduction-button" shape="round" color="secondary" (click)="openIntroductionDownloadPage()">
      {{ 'introduction.vault-install_label' | translate }}
    </ion-button>
    <ion-button id="dismiss-button" shape="round" color="primary" (click)="dismiss()">
      {{ 'introduction.continue_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
