<ng-container *ngIf="widget.isVisible">
  <widget-account *ngIf="widget.type === 'account'" [widget]="widget"></widget-account>
  <widget-checkbox *ngIf="widget.type === 'checkbox' && widgetForm" [widget]="widget" [widgetForm]="widgetForm"></widget-checkbox>
  <widget-icon-text *ngIf="widget.type === 'icon_text'" [widget]="widget"></widget-icon-text>
  <widget-input-text *ngIf="widget.type === 'input_text' && widgetForm" [widget]="widget" [widgetForm]="widgetForm"></widget-input-text>
  <widget-select *ngIf="widget.type === 'select' && widgetForm" [widget]="widget" [widgetForm]="widgetForm"></widget-select>
</ng-container>
