page-wallet-address {
  ion-icon {
    color: white;
  }
  ion-avatar {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 64px;
      height: 64px;
    }
  }

  img.sub-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 50%;
  }
}
