<ion-header no-border no-shadow>
  <ion-navbar color="whitePrimaryContrast">
    <ion-title>{{ 'select-wallet.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span ion-text class="font--weight__bold" color="primary">
    <ng-container>
      {{ 'select-wallet.compatible' | translate }}
    </ng-container>
  </span>
  <ion-list no-lines margin-top *ngFor="let wallet of wallets">
    <portfolio-item [wallet]="wallet" [maxDigits]="8" tappable (click)="openPreparePage(wallet)"></portfolio-item>
  </ion-list>

  <span ion-text class="font--weight__bold" color="primary">
    <ng-container>
      {{ 'select-wallet.incompatible' | translate }}
    </ng-container>
  </span>

  <ion-list no-lines margin-top *ngFor="let wallet of incompatibleWallets">
    <portfolio-item [wallet]="wallet" [maxDigits]="8" tappable (click)="openPreparePage(wallet)"></portfolio-item>
  </ion-list>
</ion-content>
