page-scan {
  .transparent {
    background: none !important;
  }

  p {
    background-color: rgba(color($colors, primary), 0.5);
    color: color($colors, white);
  }
  .row--height__100 {
    height: calc(100% - 64px);
    img {
      height: 45vh;
    }
  }

  .guides--container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .guides--container__img {
      width: 60%;
      max-width: 400px;
      margin-top: 3em;
      max-height: 50%;
    }
  }

  ion-icon {
    font-size: 180px;
    width: 100%;
    color: color($colors, dark);
  }

  h3 {
    color: color($colors, dark);
  }
}
