<ion-content no-bounce [class.transparent]="hasCameraPermission">
  <p padding no-margin text-center *ngIf="hasCameraPermission">{{ 'SCAN_ALLOWED' | translate }}</p>

  <ion-row *ngIf="isBrowser" justify-content-center align-items-center>
    <ion-col text-center>
      <ion-icon name="qr-scanner"></ion-icon>
      <h3 (click)="simulateScan(true)" padding-horizontal>Simulate tx (browser only)</h3>
      <h3 (click)="simulateScan(false)" padding-horizontal>Simulate transaction (browser only)</h3>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!hasCameraPermission" (click)="checkPermission(false)" justify-content-center align-items-center class="row--height__100">
    <ion-col text-center>
      <ion-icon name="eye-off"></ion-icon>
      <h3 padding-horizontal>{{ 'ALLOW_SCAN' | translate }}</h3>
    </ion-col>
  </ion-row>


</ion-content>