page-scan {
  .transparent {
    background: none !important;
  }

  p {
    background-color: rgba(color($colors, primary), 0.5);
    color: color($colors, white);
  }
  .row--height__100 {
    height: 100%;
    img {
      height: 45vh;
    }
  }

  ion-icon {
    font-size: 180px;
    width: 100%;
    color: color($colors, dark);
  }

  h3 {
    color: color($colors, dark);
  }
}
