<ion-header no-border no-shadow>
  <ion-navbar color="whiteSecondaryContrast">
    <ion-title>{{ 'voting.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 no-margin>{{ 'voting.heading' | translate }}</h3>

  <p
    *ngIf="config"
    no-margin
    padding-bottom
    [innerHTML]="
      'voting.voting-period_label'
        | translate
          : { startDate: config?.startDate | amFromUnix | date: 'longDate', endDate: config?.endDate | amFromUnix | date: 'longDate' }
    "
  ></p>

  <ion-row justify-content-center>
    <img src="../assets/img/vote.svg" />
  </ion-row>
  <p>
    {{ 'voting.text' | translate }}
  </p>

  <h5 *ngIf="config?.showSelfVoted && oldVotePercentage !== undefined">
    <strong *ngIf="votePercentage === 0">{{ 'voting.vote-no_label' | translate }}</strong>
    <strong
      *ngIf="votePercentage > 0"
      [innerHTML]="'voting.vote-percentage_label' | translate: { oldVotePercentage: oldVotePercentage }"
    ></strong>
  </h5>

  <ng-container *ngIf="voting">
    <ion-range [disabled]="!config?.enabled" min="0" max="20" [(ngModel)]="votePercentage" [snaps]="true" [pin]="true" no-padding>
      <ion-label range-left>0%</ion-label>
      <ion-label range-right>20%</ion-label>
    </ion-range>
    <p>
      <strong
        *ngIf="config?.enabled && votePercentage > 0"
        [innerHTML]="'voting.your-vote_label' | translate: { votePercentage: votePercentage }"
      ></strong>
      <strong *ngIf="config?.enabled && votePercentage === 0">{{ 'voting.vote-no_label' | translate }}</strong>
      <strong *ngIf="!config?.enabled">{{ 'voting.vote-disabled_label' | translate }}</strong>
    </p>
  </ng-container>

  <h6 padding-top margin-bottom>{{ 'voting.further-information.heading' | translate }}</h6>
  <p>
    <a href="#" (click)="openUrl('https://blog.aeternity.com/aeternity-first-on-chain-governance-vote-decentralization-2-0-5e0c8a01891a')">
      {{ 'voting.further-information.blog-post_label' | translate }}
      <ion-icon md-name="open_in_new"></ion-icon>
    </a>
    <br />
    <a
      href="#"
      (click)="openUrl('https://forum.aeternity.com/t/discussion-block-reward-initiative-and-first-on-chain-governance-vote/3278')"
    >
      {{ 'voting.further-information.forum_label' | translate }}
      <ion-icon md-name="open_in_new"></ion-icon>
    </a>
  </p>

  <ion-fab right bottom>
    <button *ngIf="config?.enabled && !voting" (click)="changeVote()" round ion-button color="white">
      {{ 'voting.change-vote_label' | translate }}
    </button>
    <button round ion-button color="primary" [disabled]="!config?.enabled" (click)="vote()">
      <ng-container *ngIf="voting">{{ 'voting.vote_label' | translate }}</ng-container>
      <ng-container *ngIf="!voting">{{ 'voting.done_label' | translate }}</ng-container>
    </button>
  </ion-fab>
</ion-content>
