<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'transaction-qr.title' | translate: { title: wallet.protocolIdentifier | uppercase } }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding margin-bottom>
  <ion-row>
    <h5 [innerHTML]="'transaction-qr.text' | translate"></h5>
  </ion-row>

  <ion-row justify-content-center padding-vertical>
    <qr-clipboard *ngIf="!qrDataTooBig" [qrdata]="preparedDataQR" level="L" size="400"></qr-clipboard>
    <ion-text>
      <h1 *ngIf="qrDataTooBig">
        {{ 'transaction-qr.qr-data-too-big_warning' | translate }}
      </h1>
    </ion-text>
  </ion-row>

  <from-to *ngIf="airGapTx" padding-horizontal [transaction]="airGapTx"></from-to>
  <signed-transaction *ngIf="!airGapTx" [syncProtocolString]="preparedDataQR"></signed-transaction>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button size="default" color="primary" (click)="done()" shape="round">
      {{ 'transaction-qr.done_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
