<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'transaction-qr.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding ion-margin-bottom">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-row>
      <h5 [innerHTML]="'transaction-qr.text' | translate"></h5>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <airgap-iac-qr
        id="qr"
        *ngIf="!qrDataTooBig"
        [messageDefinitionObjects]="messageDefinitionObjects"
        [level]="'L'"
        [size]="300"
      ></airgap-iac-qr>

      <ion-text>
        <h1 *ngIf="qrDataTooBig">{{ 'transaction-qr.qr-data-too-big_warning' | translate }}</h1>
      </ion-text>
    </ion-row>

    <ng-container *ngIf="airGapTxs && airGapTxs.length > 1">
      <ion-row class="ion-padding-bottom ion-text-center">
        <ion-col size="4" class="content--align__center-center">
          <h5>{{ aggregatedInfo.totalAmount.toFixed() | amountConverter: { protocol: airGapTxs[0].protocolIdentifier } | async }}</h5>
        </ion-col>
        <ion-col size="4" class="content--align__center-center">
          <h5>{{ aggregatedInfo.numberOfTxs }}</h5>
        </ion-col>
        <ion-col size="4" class="content--align__center-center">
          <h5>{{ aggregatedInfo.totalFees.toFixed() | feeConverter: { protocol: airGapTxs[0].protocolIdentifier } | async }}</h5>
        </ion-col>
        <ion-col size="4">
          <small>Amount</small>
        </ion-col>
        <ion-col size="4">
          <small>Operations</small>
        </ion-col>
        <ion-col size="4">
          <small>Fee</small>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="airGapTxs">
      <airgap-from-to *ngFor="let airGapTx of airGapTxs" class="ion-padding-horizontal" [transaction]="airGapTx"></airgap-from-to>
    </ng-container>

    <ng-container *ngIf="interactionData">
      <ion-row class="rawdata--container">
        <ion-col class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>{{ 'transaction-qr.details' | translate }}</ion-label>
            <ion-toggle [checked]="displayRawData" (ionChange)="toggleDisplayRawData()" slot="end"></ion-toggle>
          </ion-item>
          <pre *ngIf="displayRawData" class="ion-no-margin">{{ interactionData | json }}</pre>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button id="done" size="default" color="primary" (click)="done()" shape="round">
      {{ 'transaction-qr.done_label' | translate }}
    </ion-button>
    <ion-button id="done" size="default" color="secondary" (click)="scanQr()" shape="round">
      {{ 'transaction-qr.scan_qr_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
