<ng-container *ngIf="transaction">
  <address-row *ngFor="let address of transaction.from" [address]="address" label="{{ 'from-to.from_label' | translate }}"></address-row>

  <ion-row class="ion-align-items-center ion-padding-top">
    <ion-col size="3" class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <div class="line"></div>
      </ion-row>
    </ion-col>
    <ion-col size="9" class="ion-padding-bottom">
      <ng-container *ngIf="transaction.extra && transaction.extra.type">
        <ion-label position="stacked" class="ion-text-uppercase">{{ 'from-to.type_label' | translate }}</ion-label>
        <div class="ion-padding-bottom">
          <span class="typography--mono">
            {{ transaction.extra.type }}
          </span>
        </div>
      </ng-container>

      <ion-label position="stacked" class="ion-text-uppercase">{{ 'from-to.amount_label' | translate }}</ion-label>
      <div class="ion-padding-bottom">
        <span class="typography--mono ion-padding-bottom">
          {{ transaction.amount | amountConverter: { protocolIdentifier: transaction.protocolIdentifier, maxDigits: 10 } }}
        </span>
      </div>

      <ng-container *ngIf="transaction.fee">
        <ion-label position="stacked" class="ion-text-uppercase">{{ 'from-to.fee_label' | translate }}</ion-label>
        <div [ngClass]="transaction.timestamp || transaction.data  ? 'ion-padding-bottom' : ''">
          <span class="typography--mono">
            {{ transaction.fee | feeConverter: { protocolIdentifier: transaction.protocolIdentifier } }}
          </span>
        </div>
      </ng-container>

      <!-- TODO: styling by @pascal? -->
      <ng-container *ngIf="transaction.status">
        <ion-label position="stacked" class="ion-text-uppercase">
          {{ 'from-to.status_label' | translate }}
        </ion-label>
        <div [ngClass]="transaction.data ? 'ion-padding-bottom' : ''">
          <span class="typography--mono">
            {{ transaction.status }}
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="transaction.timestamp">
        <ion-label position="stacked" class="ion-text-uppercase">
          {{ 'from-to.time_label' | translate }}
        </ion-label>
        <div [ngClass]="transaction.data ? 'ion-padding-bottom' : ''">
          {{ transaction.timestamp | amFromUnix | amCalendar: { sameDay: '[Today at] HH:mm', sameElse: 'HH:mm [on] LL' } }}
        </div>
      </ng-container>

      <ng-container *ngIf="transaction.data">
        <ion-label position="stacked" class="ion-text-uppercase">{{ 'from-to.data_label' | translate }}</ion-label>
        <div [ngClass]="transaction.data ? 'ion-padding-bottom' : ''">
          {{ transaction.data }}
        </div>
      </ng-container>
    </ion-col>
  </ion-row>

  <address-row *ngFor="let address of transaction.to" [address]="address" label="{{ 'from-to.to_label' | translate }}"></address-row>

  <ion-row class="rawdata--container" *ngIf="transaction.transactionDetails">
    <ion-col class="ion-no-padding">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label>{{ 'from-to.transaction-details_label' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="displayRawData" slot="end"></ion-toggle>
      </ion-item>
      <pre *ngIf="displayRawData" class="ion-no-margin">{{ transaction.transactionDetails | json }}</pre>
    </ion-col>
  </ion-row>
</ng-container>
