.line {
  border-left: 1px solid var(--ion-color-dark);
  height: 96px;
}
.rawdata--container {
  pre {
    background-color: var(--ion-color-grayLight);
    padding: 8px;
  }
}
.rawdata--container.ios {
  margin-bottom: 48px;
}
.rawdata--container.md {
  margin-bottom: var(--margin-bottom);
}
