<ng-container *ngIf="transaction">
  <address-row *ngFor="let address of transaction.from" [address]="address" label="{{ 'from-to.from_label' | translate }}"></address-row>

  <ion-row align-items-center>
    <ion-col size="3" no-padding>
      <ion-row justify-content-center><div class="line"></div></ion-row>
    </ion-col>
    <ion-col size="9" padding-bottom>
      <ion-label stacked class="typography--uppercase">{{ 'from-to.amount_label' | translate }}</ion-label>
      <div item-content padding-bottom>
        <span class="typography--mono" padding-bottom>
          {{ transaction.amount | amountConverter: { protocolIdentifier: transaction.protocolIdentifier, maxDigits: 10 } }}
        </span>
      </div>

      <ng-container *ngIf="transaction.fee">
        <ion-label stacked class="typography--uppercase">{{ 'from-to.fee_label' | translate }}</ion-label>
        <div item-content padding-bottom>
          <span class="typography--mono">
            {{ transaction.fee | feeConverter: { protocolIdentifier: transaction.protocolIdentifier } }}
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="transaction.timestamp">
        <ion-label stacked class="typography--uppercase">{{ 'from-to.time_label' | translate }}</ion-label>
        <div item-content>
          {{ transaction.timestamp | amFromUnix | amCalendar: { sameDay: '[Today at] HH:mm', sameElse: 'HH:mm [on] LL' } }}
        </div>
      </ng-container>

      <ng-container *ngIf="transaction.data">
        <ion-label stacked class="typography--uppercase">{{ 'from-to.data_label' | translate }}</ion-label>
        <div item-content>
          {{ transaction.data }}
        </div>
      </ng-container>
    </ion-col>
  </ion-row>

  <address-row *ngFor="let address of transaction.to" [address]="address" label="{{ 'from-to.to_label' | translate }}"></address-row>
</ng-container>
