<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'THE_NEW_CRYPTO_WALLET_STANDARD' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce fullscreen>
  <!-- TODO: segment with "highest security" & "medium security" tabs -->

  <ion-segment [(ngModel)]="security" color="secondary">
    <ion-segment-button value="highest">
      {{ 'HIGHEST_SECURITY' | translate }}
    </ion-segment-button>
    <ion-segment-button value="medium">
      {{ 'HIGHEST_SECURITY' | translate }}
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="security === 'highest'">
    <ion-row>
      <p [innerHTML]="'INTRO_HIGHEST_SECURITY' | translate"></p>
    </ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_wallet.png" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Wallet</h5>
        <p [innerHTML]="'INTRO_HIGHEST_WALLET' | translate"></p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center>
        <img class="connector--img" src="assets/img/qrcode.svg" />
      </ion-col>
      <ion-col col-7>
        <strong>{{ 'INTRO_HIGHEST_QR' | translate }}</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_vault.png" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Vault</h5>
        <p [innerHTML]="'INTRO_HIGHEST_VAULT' | translate"></p>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="security === 'medium'">
    <ion-row>
      <p [innerHTML]="'INTRO_MEDIUM_SECURITY' | translate"></p>
    </ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_wallet.png" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Wallet</h5>
        <p [innerHTML]="'INTRO_MEDIUM_WALLET' | translate"></p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center>
        <img class="connector--img" src="assets/img/clone.svg" />
      </ion-col>
      <ion-col col-7>
        <strong>{{ 'INTRO_MEDIUM_CONNECTOR' | translate }}</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_vault.png" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Vault</h5>
        <p [innerHTML]="'INTRO_MEDIUM_VAULT' | translate"></p>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button ion-button round color="primary" (click)="downloadApp()">
        {{ 'INSTALL_AIRGAP_VAULT' | translate }}
      </button>
      <button ion-button round color="secondary" (click)="dismiss()">
        {{ 'LETS_GO' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
