<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'The New Crypto Wallet Standard' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce fullscreen>

  <ion-segment [(ngModel)]="security" color="secondary">
    <ion-segment-button value="highest">
      Highest Security
    </ion-segment-button>
    <ion-segment-button value="medium">
      Medium Security
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="security === 'highest'">
    <ion-row>
      <p>With the AirGap
        <b>two device approach</b> secure key handling becomes more accessible.</p>
    </ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_wallet.svg" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Wallet</h5>
        <p>
          <b>This is the AirGap Wallet application</b>, that deals with only public information and is responsible for broadcasting
          transactions to the blockchain.</p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center>
        <img class="connector--img" src="assets/img/qrcode.svg" />
      </ion-col>
      <ion-col col-7>
        <strong>One-way communication with QR codes.</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_vault.svg" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Vault</h5>
        <p>The private key is generated and securely stored on another device with the AirGap Vault app.
          <b>You have to install AirGap Vault to use AirGap Wallet</b>
        </p>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="security === 'medium'">
    <ion-row>
      <p>With the AirGap
        <b>two app approach</b> secure key handling becomes more accessible.</p>
    </ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_wallet.svg" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Wallet</h5>
        <p>
          <b>This is the AirGap Wallet application</b>, that deals with only public information and is responsible for broadcasting
          transactions to the blockchain.</p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center>
        <img class="connector--img" src="assets/img/clone.svg" />
      </ion-col>
      <ion-col col-7>
        <strong>Secure communication through app switching.</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5>
        <img src="assets/img/airgap_onboarding_vault.svg" />
      </ion-col>
      <ion-col col-7>
        <h5>AirGap Vault</h5>
        <p>The private key is generated and securely stored in the AirGap Vault app.
          <b>You have to install AirGap Vault to use AirGap Wallet</b>
        </p>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button ion-button round color="primary" (click)="downloadApp()">Install AirGap Vault</button>
      <button ion-button round color="secondary" (click)="dismiss()">Let's Go</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
