<ion-header no-border no-shadow>
  <ion-navbar color="whiteSecondaryContrast">
    <ion-title>{{ 'introduction.title' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" clear icon-only><ion-icon name="md-close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <ion-segment [(ngModel)]="security" color="secondary" *ngIf="!isBrowser">
    <ion-segment-button value="highest">{{ 'introduction.highest.label' | translate }}</ion-segment-button>
    <ion-segment-button value="medium">{{ 'introduction.medium.label' | translate }}</ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="security === 'highest'">
    <ion-row><p [innerHTML]="'introduction.highest.text' | translate"></p></ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5 *ngIf="isBrowser"><img src="assets/img/airgap_onboarding_wallet-notebook.svg" /></ion-col>
      <ion-col col-5 *ngIf="!isBrowser"><img src="assets/img/airgap_onboarding_wallet.svg" /></ion-col>
      <ion-col col-7>
        <h5>{{ 'introduction.wallet.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.wallet.text' | translate"></p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center><img class="connector--img" src="assets/img/qrcode.svg" /></ion-col>
      <ion-col col-7>
        <strong>{{ 'introduction.communication.highest_text' | translate }}</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5><img src="assets/img/airgap_onboarding_vault.svg" /></ion-col>
      <ion-col col-7>
        <h5>{{ 'introduction.vault.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.vault.text' | translate"></p>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="security === 'medium'">
    <ion-row><p [innerHTML]="'introduction.medium.text' | translate"></p></ion-row>

    <ion-row padding-top align-items-center>
      <ion-col col-5><img src="assets/img/airgap_onboarding_wallet.svg" /></ion-col>
      <ion-col col-7>
        <h5>{{ 'introduction.wallet.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.wallet.text' | translate"></p>
      </ion-col>
    </ion-row>

    <ion-row padding-vertical align-items-center>
      <ion-col col-5 text-center><img class="connector--img" src="assets/img/clone.svg" /></ion-col>
      <ion-col col-7>
        <strong>{{ 'introduction.communication.medium_text' | translate }}</strong>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-5><img src="assets/img/airgap_onboarding_vault.svg" /></ion-col>
      <ion-col col-7>
        <h5>{{ 'introduction.vault.heading' | translate }}</h5>
        <p [innerHTML]="'introduction.vault.text' | translate"></p>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-fab bottom right>
    <button ion-button round color="secondary" (click)="openIntroductionDownloadPage()">
      {{ 'introduction.vault-install_label' | translate }}
    </button>
    <button ion-button round color="primary" (click)="dismiss()">{{ 'introduction.continue_label' | translate }}</button>
  </ion-fab>
</ion-content>
