<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'transaction-prepare.title' | translate: { title: wallet.protocolIdentifier | uppercase } }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <form [formGroup]="transactionForm" padding-bottom>
    <ion-row padding-horizontal padding-top>
      <ion-col size="10" no-padding>
        <ion-row>
          <ion-col no-padding class="balance__container">
            <ion-row>
              <p no-margin class="font--size__large">
                <strong>
                  {{ wallet.currentBalance?.toNumber() | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 }
                  }}
                </strong>
              </p>
            </ion-row>
            <ion-row>
              <ion-text color="blackLight">
                <p no-margin>
                  ${{ wallet.currentBalance | cryptoToFiat: { protocolIdentifier: wallet.protocolIdentifier, currentMarketPrice:
                  wallet.currentMarketPrice } | number: '1.2-2' }}
                </p>
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" no-padding>
            <ion-item no-padding class="content--align-vert__center to-address__item">
              <ion-label color="blackLight" position="stacked">{{ 'Send To' | translate }}</ion-label>
              <ion-textarea
                [placeholder]="wallet.coinProtocol.addressPlaceholder"
                formControlName="address"
                id="address-input"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2" no-padding>
        <ion-row justify-content-center align-items-center>
          <ion-avatar>
            <identicon [address]="wallet.receivingPublicAddress"></identicon>
          </ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <div class="line--vertical"></div>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-avatar>
            <identicon [address]="transactionForm.get('address').value"></identicon>
          </ion-avatar>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row
      padding-horizontal
      class="error--address"
      *ngIf="transactionForm.controls['address'].dirty && transactionForm.controls['address'].invalid"
    >
      <ion-col size="12" no-padding>
        <ion-text no-margin color="danger">
          <p
            no-margin
            [innerHTML]="
              'transaction-prepare.error.address_label' | translate: { addressPlaceholder: this.wallet.coinProtocol.addressPlaceholder }
            "
          ></p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal padding-bottom class="address-to__buttons">
      <ion-button fill="outline" size="small" color="secondary" shape="round" (click)="pasteClipboard()">
        {{ 'transaction-prepare.paste_label' | translate }}
      </ion-button>
      <ion-button fill="outline" size="small" color="secondary" shape="round" (click)="openScanner()">
        <ion-icon slot="start" name="md-barcode"></ion-icon>
        {{ 'transaction-prepare.to-address-scan_label' | translate }}
      </ion-button>
    </ion-row>
    <div class="divider--line"></div>
    <ion-row padding-horizontal padding-top align-items-center class="amount__container">
      <ion-col size="9" class="amount--container__input" no-padding>
        <ion-item no-padding lines="none">
          <ion-label color="blackLight" no-margin position="stacked">{{ 'transaction-prepare.amount_label' | translate }}</ion-label>
          <ion-input formControlName="amount" type="number" id="amount-input" placeholder="0.0"></ion-input>
        </ion-item>
        <ion-text no-margin color="blackLight">
          <p no-margin>${{ transactionForm.get('amount').value * wallet.currentMarketPrice.toNumber() | number: '1.2-2' }}</p>
        </ion-text>
      </ion-col>
      <ion-col size="3" no-padding>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button
              shape="round"
              [fill]="sendMaxAmount ? 'solid' : 'outline'"
              size="small"
              color="secondary"
              (click)="toggleMaxAmount()"
            >
              {{ 'transaction-prepare.fee.max_label' | translate }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal padding-bottom>
      <ion-col size="12" *ngIf="!transactionForm.controls['amount'].valid">
        <ion-text no-margin color="danger">
          <p no-margin>
            {{ 'transaction-prepare.error.amount_label' | translate }}
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <div class="divider--line"></div>
    <ion-row padding-horizontal class="fee--amount__label">
      <ion-col size="12" no-padding>
        <ion-item lines="none" no-padding>
          <ion-text no-margin color="blackLight">
            <ion-label>{{ 'transaction-prepare.fee.label' | translate }} ({{ wallet.coinProtocol.feeSymbol | uppercase }})</ion-label>
          </ion-text>
          <ion-toggle slot="end" mode="md" formControlName="isAdvancedMode"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row nowrap padding-horizontal>
      <ion-col size="12" no-padding>
        <ion-item no-padding lines="none">
          <ion-range no-padding min="0" max="2" step="1" snaps="true" formControlName="feeLevel" id="feeLevel-input" class="range-slider">
            <ion-icon slot="start" color="black" name="md-hourglass"></ion-icon>
            <ion-icon slot="end" color="black" name="md-rocket"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal>
      <ion-col size="6" no-padding>
        <small>{{ 'transaction-prepare.fee.slow_label' | translate }}</small>
      </ion-col>
      <ion-col size="6" text-right no-padding>
        <small>{{ 'transaction-prepare.fee.fast_label' | translate }}</small>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal *ngIf="transactionForm.get('isAdvancedMode').value">
      <ion-col size="12">
        <ion-item class="advanced-item" no-padding>
          <ion-label position="stacked"></ion-label>
          <ion-input id="fee-input" formControlName="fee" type="string" no-padding></ion-input>
          <span slot="end" class="input--placeholder">
            {{ 'transaction-prepare.fee.label' | translate }} ({{ wallet.coinProtocol.feeSymbol | uppercase }})
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal class="fee-amount__help">
      <ion-text color="blackLight">
        <p no-margin>
          <span id="fee-amount">
            <ng-container *ngIf="transactionForm.controls['fee'].invalid" color="primary">
              {{ 'transaction-prepare.amount_label' | translate }}
            </ng-container>
            <ng-container *ngIf="transactionForm.controls['fee'].valid" color="primary">
              ${{ transactionForm.get('fee').value * wallet.currentMarketPrice.toNumber() | number: '1.2-4' }}
            </ng-container>
          </span>
          <span id="fee-amount-advanced" *ngIf="!transactionForm.get('isAdvancedMode').value">
            ({{ transactionForm.get('fee').value | number: '1.2-6' }} {{ wallet.coinProtocol.feeSymbol | uppercase }})
          </span>
        </p>
      </ion-text>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button size="default" color="primary" (click)="prepareTransaction()" [disabled]="transactionForm.invalid" shape="round">
      <ion-icon slot="start" name="open"></ion-icon>
      {{ 'transaction-prepare.create-transaction' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
