<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/portfolio"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ 'transaction-prepare.title' | translate: { title: wallet.protocol.symbol } }}
      </ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid fixed="true">
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-no-padding">
        <ion-row>
          <ng-container
            *ngIf="wallet.protocol.options.network && wallet.protocol.options.network.type !== networkType.MAINNET"
            class="ion-no-padding"
            lines="none"
            slot="start"
          >
            <ion-badge color="danger">{{ wallet.protocol.options.network.name }}</ion-badge>
            <ion-badge *ngIf="wallet.protocol.options.network.type === networkType.CUSTOM">
              {{wallet.protocol.options.network.rpcUrl}}
            </ion-badge>
          </ng-container>
        </ion-row>
      </ion-col>
    </ion-row>
    <form [formGroup]="transactionForm" class="ion-padding-bottom">
      <ion-card>
        <ion-item class="ion-no-padding ion-margin-bottom" lines="none" *ngIf="state.collectible">
          <img class="collectible--img" *ngIf="state.collectible.thumbnails.length > 0" [src]="state.collectible.thumbnails[0]" (error)="onCollectibleThumbnailError()" slot="start" />
          <img class="collectible--img" *ngIf="state.collectible.thumbnails.length === 0" src="./assets/img/collectible-placeholder.png" slot="start" />
          <h6>{{ state.collectible.name }}</h6>
        </ion-item>
        <ion-row class="ion-justify-content-between">
          <ion-col size="3">
            <ion-label color="blackLight" class="ion-no-margin" position="stacked">
              {{ 'transaction-prepare.amount_label' | translate }}
            </ion-label>
          </ion-col>
          <ion-col size="9" class="ion-text-end">
            <ion-label color="blackLight" class="ion-no-margin" position="stacked">
              {{ 'transaction-prepare.balance_label' | translate }}
              <ng-container *ngIf="state.availableBalance !== null">
                {{ state.availableBalance | amountConverter: { protocol: wallet.protocol, maxDigits: wallet.protocol.decimals + 1 } | async
                }}
              </ng-container>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="amount__container">
          <ion-col size="2" class="d-flex ion-align-items-center">
            <ion-avatar>
              <airgap-identicon [address]="wallet.receivingPublicAddress"></airgap-identicon>
            </ion-avatar>
          </ion-col>
          <ion-col size="7" class="ion-no-padding amount--container__input">
            <ion-item class="ion-no-padding" lines="none">
              <ion-input
                [attr.disabled]="state.forceMigration"
                formControlName="amount"
                type="number"
                id="amount-input"
                placeholder="0.0"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" class="ion-no-padding d-flex ion-align-items-center">
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button
                  shape="round"
                  [attr.disabled]="state.disableSendMaxAmount"
                  [fill]="state.sendMaxAmount ? 'solid' : 'outline'"
                  size="small"
                  color="secondary"
                  (click)="toggleMaxAmount()"
                >
                  <ion-spinner name="lines-small" color="primary" *ngIf="state.estimatingMaxAmount"></ion-spinner>
                  <span *ngIf="!state.estimatingMaxAmount">{{ 'transaction-prepare.fee.max_label' | translate }}</span>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10" offset="2" *ngIf="!transactionForm.controls['amount'].valid" class="ion-no-padding error--container">
            <ion-text class="ion-no-margin" color="danger">
              <p class="ion-no-margin">
                {{ 'transaction-prepare.error.amount_label' | translate }}
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="state.marketPrice">
          <ion-col offset="2" class="ion-no-padding">
            <ion-text class="ion-no-margin" color="blackLight">
              <p class="ion-no-margin">
                ${{ state.marketPrice.toNumber() | number: '1.2-2' }}
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="rawdata--container" *ngIf="isSubstrate && !state.disableSendMaxAmount">
          <ion-col class="ion-no-padding">
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>{{ 'transaction-prepare.existential_deposit' | translate }}</ion-label>
              <ion-toggle [checked]="ignoreExistentialDeposit" (ionChange)="toggleExcludeExistentialDeposit()" slot="end"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-row>
        <ion-col class="ion-text-center ion-no-padding divider--container">
          <ion-icon name="arrow-down-outline" color="medium"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-row>
          <ion-col size="3">
            <ion-label color="blackLight" position="stacked">{{ 'transaction-prepare.to-address_label' | translate }}</ion-label>
          </ion-col>
          <ion-col size="9" class="ion-text-end">
            <ion-label
              *ngIf="state.receiverAddress.length > 0 && state.receiverAddress !== state.receiver.value"
              color="blackLight"
              class="ion-no-margin"
              position="stacked"
            >
              {{ state.receiverAddress | shortenString }}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="to__container">
          <ion-col size="2">
            <ion-avatar class="d-flex ion-align-items-center">
              <airgap-identicon [address]="state.receiverAddress"></airgap-identicon>
            </ion-avatar>
          </ion-col>
          <ion-col size="10" class="ion-no-padding">
            <ion-item class="content--align-vert__center to-address__item ion-no-padding">
              <ion-textarea
                [attr.disabled]="state.forceMigration"
                [placeholder]="wallet.protocol.addressPlaceholder"
                formControlName="receiver"
                id="receiver-input"
              ></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col
            size="10"
            offset="2"
            class="ion-no-padding error--address"
            *ngIf="transactionForm.controls['receiver'].dirty && transactionForm.controls['receiver'].invalid"
          >
            <ion-text class="ion-no-margin" color="danger">
              <p
                class="ion-no-margin"
                [innerHTML]="
                'transaction-prepare.error.address_label' | translate: { addressPlaceholder: wallet.protocol.addressPlaceholder }
              "
              ></p>
            </ion-text>
          </ion-col>
          <ion-col size="10" offset="2" class="address-to__buttons">
            <ion-button
              [attr.disabled]="state.forceMigration"
              fill="outline"
              size="small"
              color="secondary"
              shape="round"
              (click)="pasteClipboard()"
            >
              {{ 'transaction-prepare.paste_label' | translate }}
            </ion-button>
            <ion-button
              [attr.disabled]="state.forceMigration"
              fill="outline"
              size="small"
              color="secondary"
              shape="round"
              (click)="openScanner()"
            >
              <ion-icon slot="start" name="barcode-outline"></ion-icon>
              {{ 'transaction-prepare.to-address-scan_label' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

      <fee [wallet]="wallet" [state]="state" [form]="transactionForm"></fee>
    </form>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button
      id="prepare"
      size="default"
      color="primary"
      (click)="prepareTransaction()"
      [disabled]="state.disablePrepareButton"
      shape="round"
    >
      <ion-icon slot="start" name="open"></ion-icon>
      {{ 'transaction-prepare.create-transaction' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
