page-account-transaction-list {
  .justify--content__end {
    display: flex;
    justify-content: flex-end;
  }
  /* TODO: remove if using component */
  .symbol--icon {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 40px;
    top: 34px;
  }
  h2,
  .items--right ion-row {
    margin: 2px 0px 6px !important;
  }

  .empty--list__container {
    height: 25vh;
    padding-top: 48px;
    .empty--list__image {
      height: 30vh;
    }
  }

  .loading-header {
    color: white;
    font-weight: 300;
    width: 100%;
    text-align: center;
    ion-spinner * {
      width: 28px;
      height: 28px;
      stroke: #fff !important;
    }
  }
  .loading-content {
    color: white;
    font-weight: 300;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    ion-spinner * {
      width: 28px;
      height: 28px;
    }
  }
  ion-fab {
    width: 100%;
  }
  .empty-list {
    img {
      height: 40vh;
    }
  }
}
