<ion-header no-border no-shadow>
  <ion-navbar color="whitePrimaryContrast">
    <ion-title>{{ 'exchange.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<!-- Add class="onboarding__container" for -->
<ion-content padding>
  <ng-container *ngIf="exchangePageState === exchangePageStates.ONBOARDING">
    <ion-row><h3 [innerHTML]="'exchange.heading' | translate"></h3></ion-row>
    <ion-row justify-content-center><img src="assets/img/token_swap.svg" /></ion-row>
    <ion-row padding-bottom>
      <p no-margin>{{ 'exchange.swap.description' | translate }}</p>
    </ion-row>
    <button (click)="dismissExchangeOnboarding()" round ion-button color="primary" block>{{ 'exchange.swap.label' | translate }}</button>
  </ng-container>

  <ng-container *ngIf="exchangePageState === exchangePageStates.ONLY_ONE_CURRENCY">
    <ion-row><h3 [innerHTML]="'exchange.heading' | translate"></h3></ion-row>
    <ion-row justify-content-center><img src="assets/img/token_swap.svg" /></ion-row>

    <ion-row padding-bottom>
      <p no-margin>{{ 'exchange.onboarding.description' | translate }}</p>
    </ion-row>
    <button round ion-button color="primary" block>{{ 'exchange.onboarding.label' | translate }}</button>
  </ng-container>

  <ng-container *ngIf="exchangePageState === exchangePageStates.EXCHANGE">
    <swap
      [supportedProtocols]="supportedProtocolsFrom"
      [minExchangeAmount]="minExchangeAmount"
      (walletSelectedEmitter)="walletSelected('from', $event)"
      (amountSetEmitter)="amountSet($event)"
    ></swap>
    <swap
      [supportedProtocols]="supportedProtocolsTo"
      [exchangeAmount]="exchangeAmount"
      (walletSelectedEmitter)="walletSelected('to', $event)"
      [swapSell]="false"
    ></swap>
    <div class="divider--line"></div>
    <ion-fab right bottom>
      <button color="secondary" (click)="startExchange()" ion-button round icon-left>
        <ion-icon md-name="add"></ion-icon>
        Exchange
      </button>
    </ion-fab>
  </ng-container>
</ion-content>
