<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="portfolio">
      <ion-icon ios="ios-list" md="md-list" name="list"></ion-icon>
      <ion-label>{{ 'tabs.wallets' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="barcode" md="md-barcode"></ion-icon>
      <ion-label>{{ 'tabs.scan' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exchange">
      <ion-icon name="swap" md="md-swap"></ion-icon>
      <ion-label>{{ 'tabs.exchange' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" md="md-settings"></ion-icon>
      <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
