<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">
  <ion-tab-bar slot="bottom" *ngIf="isMobile">
    <ion-tab-button tab="portfolio">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{ 'tabs.wallets' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>{{ 'tabs.scan' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exchange">
      <ion-icon name="repeat-outline"></ion-icon>
      <ion-label>{{ 'tabs.exchange' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
