<ion-row class="ion-padding-horizontal ion-align-items-end ion-justify-content-center">
  <h1 class="ion-no-margin">${{ total | number: '1.2-2' }}</h1>
</ion-row>
<ion-row class="ion-padding-horizontal ion-align-items-end ion-justify-content-center">
  <ion-text [color]="percentageChange >= 0 ? 'primary' : 'danger'">
    <small>
      <span *ngIf="percentageChange >= 0">+</span>
      <span>{{ percentageChange }}%</span>
    </small>
  </ion-text>
</ion-row>
<div>
  <canvas
    baseChart
    #baseChart="base-chart"
    width="700"
    height="200px"
    [chartType]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [colors]="chartColors"
    [options]="chartOptions"
    [legend]="false"
  ></canvas>
</div>
<ion-row class="ion-padding-horizontal ion-padding-bottom ion-align-items-end ion-justify-content-center">
  <ion-button
    [color]="currentTimeInterval !== timeInterval.HOURS && chartDatasets[0].data.length > 0 ? 'primary' : 'secondary'"
    size="small"
    fill="clear"
    (click)="drawChart(timeInterval.HOURS)"
  >
    24h
  </ion-button>

  <ion-button
    [color]="currentTimeInterval !== timeInterval.DAYS && chartDatasets[0].data.length > 0 ? 'primary' : 'secondary'"
    size="small"
    fill="clear"
    (click)="drawChart(timeInterval.DAYS)"
  >
    7d
  </ion-button>

  <ion-button
    [color]="currentTimeInterval !== timeInterval.MONTH && chartDatasets[0].data.length > 0 ? 'primary' : 'secondary'"
    size="small"
    fill="clear"
    (click)="drawChart(timeInterval.MONTH)"
  >
    30d
  </ion-button>
</ion-row>
