<ion-header>
  <ion-toolbar>
    <ion-title>{{'dapp-confirm.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="font--weight__bold" color="secondary">
    <p>{{ 'dapp-confirm.text' | translate }}</p>
  </ion-text>
  <ion-row class="rawdata--container">
    <ion-col class="ion-no-padding">
      <pre class="ion-no-margin">
  {{result | json}}
      </pre>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="secondary" (click)="rejectRequest()">Cancel</ion-button>
    <ion-button shape="round" color="primary" (click)="approveRequest()">Confirm</ion-button>
  </ion-fab>
</ion-content>
