<ion-item lines="none" class="ion-no-padding ion-no-margin">
  <ion-avatar slot="start" class="content--align__center-center border--container">
    <ion-icon [name]="widget.iconName"></ion-icon>
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="widget.text">{{ widget.text | translate }}</h2>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="widget.textHTML" [innerHTML]="widget.textHTML | translate"></h2>
    <h3 *ngIf="widget.description">{{ widget.description | translate }}</h3>
    <h3 *ngIf="widget.descriptionHTML" [innerHTML]="widget.descriptionHTML | translate"></h3>
  </ion-label>
</ion-item>
