<ion-card [ngClass]="!imageLeft ? 'background--color__gradient' : 'background--color__gradient--reverse'">
  <ion-row align-items-center padding-horizontal>
    <ion-col col-4 *ngIf="imageLeft">
      <img src="/assets/img/{{ imageName }}" />
    </ion-col>
    <ion-col col-8>
      <ion-card-title ion-text color="white" no-padding [innerHTML]="heading">
        <ion-icon md-name="arrow_forward"></ion-icon>
      </ion-card-title>
      <p ion-text color="white" [innerHTML]="text" padding-top></p>
    </ion-col>
    <ion-col col-4 *ngIf="!imageLeft">
      <img src="/assets/img/{{ imageName }}" />
    </ion-col>
  </ion-row>
</ion-card>
