// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #00e8cc,
  secondary: #311b58,
  secondaryLight: #440094,
  secondarydDark: #2d53a1,
  danger: #f53d3d,
  light: #f4f4f4,
  gray: #d3d3d3,
  dark: #222,
  muted: #999,
  whitePrimaryContrast: (
    base: #fff,
    contrast: #00e8cc
  ),
  white: (
    base: #fff,
    contrast: #000
  ),
  whiteLight: rgba(255, 255, 255, 0.84),
  black: #000,
  blackLight: rgba(0, 0, 0, 0.54),
  blackLightest: rgba(0, 0, 0, 0.12),
  transparent: transparent
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';

$item-md-avatar-size: 48px;
$item-ios-avatar-size: 48px;
$tabs-tab-color-active: color($colors, secondary);
$tabs-md-tab-font-weight: medium;
$tabs-background: color($colors, white);
