<ion-item *ngIf="protocol" class="ion-no-padding" lines="none">
  <airgap-currency-symbol
    class="item__image"
    [symbol]="protocol.symbol"
    [protocolIdentifier]="protocol.identifier"
    slot="start"
  ></airgap-currency-symbol>
  <ion-label *ngIf="!radioList">
    <currency-item-label [protocol]="protocol" [showSymbol]="showSymbol" [parentName]="parentName"></currency-item-label>
  </ion-label>

  <ion-radio *ngIf="radioList" [value]="protocol.identifier" justify="space-between" labelPlacement="start">
    <currency-item-label [protocol]="protocol" [showSymbol]="showSymbol" [parentName]="parentName"></currency-item-label>
  </ion-radio>
</ion-item>
