<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'exchange-confirm.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding-end">
  <ion-grid fixed="true" class="ion-no-padding">
    <h3 class="ion-padding-start ion-padding-bottom" [innerHTML]="'exchange-confirm.heading' | translate"></h3>
    <airgap-titled-address
      [address]="fromWallet.receivingPublicAddress"
      [title]="'exchange-confirm.sell_label'"
      [hasSymbol]="true"
      [symbol]="fromCurrency"
    ></airgap-titled-address>

    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="3" class="ion-no-padding">
        <ion-row class="ion-justify-content-center"><div class="line--first"></div></ion-row>
      </ion-col>
      <ion-col size="9" class="ion-padding-bottom">
        <ion-label position="stacked" class="ion-text-uppercase">{{ 'exchange-confirm.sell-amount_label' | translate }}</ion-label>
        <div class="typography--mono" item-content>
          <span class="typography--mono">{{ amountExpectedFrom }} (~${{ fromFiatAmount | number: '1.2-2' }})</span>
        </div>

        <ng-container>
          <ion-label position="stacked" class="ion-text-uppercase">{{ 'exchange-confirm.fee_label' | translate }}</ion-label>
          <div class="typography--mono" item-content>
            <span class="typography--mono">{{ fee }} (~${{ feeFiatAmount | number: '1.2-2' }})</span>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <airgap-titled-address
      [address]="payinAddress"
      [title]="'exchange-confirm.exchange-address_label'"
      [hasSymbol]="true"
      [symbol]="fromCurrency"
    ></airgap-titled-address>

    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="3" class="ion-no-padding">
        <ion-row class="ion-justify-content-center"><div class="line--second"></div></ion-row>
      </ion-col>
      <ion-col size="9" class="ion-padding-bottom">
        <ion-label position="stacked" class="ion-text-uppercase">{{ 'exchange-confirm.buy-amount_label' | translate }}</ion-label>
        <div class="typography--mono" item-content>
          <span class="typography--mono">{{ amountExpectedTo }} (~${{ toFiatAmount | number: '1.2-2' }})</span>
        </div>
      </ion-col>
    </ion-row>

    <airgap-titled-address
      [address]="toWallet.receivingPublicAddress"
      [title]="'exchange-confirm.receiving-to_label'"
      [hasSymbol]="true"
      [symbol]="toCurrency"
    ></airgap-titled-address>

    <ion-row *ngIf="activeExchange === 'Changelly'" class="ion-padding ion-margin-vertical" (click)="changellyUrl()">
      <small [innerHTML]="'exchange-confirm.changelly_disclaimer' | translate"></small>
    </ion-row>

    <ion-row *ngIf="activeExchange === 'ChangeNow'" class="ion-padding ion-margin-vertical" (click)="changeNowUrl()">
      <small [innerHTML]="'exchange-confirm.changenow_disclaimer' | translate"></small>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="prepareTransaction()">
      {{ 'exchange-confirm.confirm-exchange_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
