<ion-app>
  <ion-split-pane *ngIf="!isMobile" contentId="tab-menu">
    <ion-menu contentId="tab-menu" type="overlay">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>AirGap Wallet</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="tabs/portfolio" routerLinkActive="active-link">
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>{{ 'tabs.wallets' | translate }}</ion-label>
            </ion-item>
            <ion-item routerLink="tabs/scan" routerLinkActive="active-link">
              <ion-icon slot="start" name="barcode-outline"></ion-icon>
              <ion-label>{{ 'tabs.scan' | translate }}</ion-label>
            </ion-item>
            <ion-item routerLink="tabs/exchange" routerLinkActive="active-link">
              <ion-icon slot="start" name="repeat-outline"></ion-icon>
              <ion-label>{{ 'tabs.exchange' | translate }}</ion-label>
            </ion-item>
            <ion-item routerLink="tabs/settings" routerLinkActive="active-link">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="tab-menu"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="isMobile"></ion-router-outlet>
</ion-app>
