@import '../../../theme/variables.scss';

ion-content {
  --background: none transparent;
}

.transparent {
  background: none !important;
}

p {
  background: var(--ion-color-primary);
}

.row--height__100 {
  height: calc(100% - 48px);
  img {
    height: 45vh;
  }
}
.guides--container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  .guides--container__img {
    width: 60%;
    max-width: 400px;
    margin-top: 3em;
    max-height: 50%;
  }
}

video {
  min-height: 705px;
  min-width: 100vw;
  object-fit: contain;
}

.wrapper {
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}
