<ion-header class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'scan.title' | translate }}</ion-title>
      <ion-text slot="end" class="ion-padding-end" *ngIf="isMultiQr">{{ percentageScanned | percentage }}</ion-text>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content forceOverscroll="false" [class.transparent]="hasCameraPermission">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-text color="secondary">
      <p class="ion-padding ion-no-margin">
        <ng-container *ngIf="!isMultiQr">{{ 'scan.text' | translate }}</ng-container>
        <ng-container *ngIf="isMultiQr">{{ 'scan.multi-qr_text' | translate }}</ng-container>
      </p>
    </ion-text>
    <ion-progress-bar *ngIf="isMultiQr" style="height: 8px;" color="secondary" [value]="percentageScanned"></ion-progress-bar>

    <ion-row [hidden]="!hasCameraPermission" class="row--height__100 ion-justify-content-center ion-align-items-center">
      <ion-col class="guides--container content--align__center-center">
        <img class="guides--container__img" src="./assets/img/qr_code_guides.svg" />
      </ion-col>
      <zxing-scanner
        #scanner
        [formats]="['QR_CODE']"
        [timeBetweenScans]="0"
        [delayBetweenScanSuccess]="0"
        *ngIf="isBrowser || isElectron"
        (scanSuccess)="checkScan($event)"
      ></zxing-scanner>
    </ion-row>

    <ion-row
      class="row--height__100 ion-justify-content-center ion-align-items-center"
      [hidden]="hasCameraPermission"
      (click)="requestPermission()"
    >
      <ion-col class="ion-text-center">
        <img src="./assets/img/permission_onboarding_camera.svg" />
        <h3 class="ion-padding-horizontal" [innerHTML]="'scan.empty-state_heading' | translate"></h3>
        <ion-button shape="round" color="primary">{{ 'scan.grant-permission_label' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
