page-transaction-prepare {
  ion-spinner {
    display: block;
    margin: auto;
  }
  .label-md[stacked],
  .label-ios[stacked],
  .item-md.item-toggle ion-label,
  .item-ios.item-toggle ion-label {
    font-size: 14px;
  }
  .font--size__large {
    font-size: large;
  }
  ion-avatar {
    height: 48px;
    width: 48px;
  }
  .divider--line {
    background-color: color($colors, blackLightest);
    height: 1px;
    width: 100%;
  }
  .line--vertical {
    background-color: color($colors, blackLightest);
    height: 24px;
    width: 1px;
    margin: 8px 0;
  }
  .balance__container {
    min-height: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .to-address__item {
    textarea {
      font-size: 12px;
    }
  }
  .address-to__buttons {
    padding-top: 4px;
  }
  .amount__container {
    .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }
    input {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
    }
  }
  .fee-amount__help {
    padding-top: 12px;
  }
  .fee--amount__label {
    padding-top: 8px;
    .item-inner {
      padding: 0 !important;
    }
  }
  ion-avatar {
    width: 48px;
    height: 48px;
    img {
      width: 48px;
      height: 48px;
    }
  }
}
