<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'transaction-prepare.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <form [formGroup]="transactionForm" padding-bottom>
    <ion-row padding-horizontal padding-top>
      <ion-col col-10 no-padding>
        <ion-row>
          <ion-col no-padding class="balance__container">
            <ion-row>
              <p no-margin class="font--size__large">
                <strong>{{ wallet.currentBalance | amountConverter: { protocolIdentifier: wallet.protocolIdentifier } }}</strong>
              </p>
            </ion-row>
            <ion-row>
              <p ion-text no-margin color="blackLight">
                ${{
                  wallet.currentBalance
                    | cryptoToFiat: { protocolIdentifier: wallet.protocolIdentifier, currentMarketPrice: wallet.currentMarketPrice }
                    | number: '1.2-2'
                }}
              </p>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item no-padding class="content--align-vert__center to-address__item">
            <ion-label stacked>{{ 'Send To' | translate }}</ion-label>
            <ion-textarea placeholder="{{'0x..' | translate}}" formControlName="address" id="address-input"></ion-textarea>
          </ion-item>
        </ion-row>
      </ion-col>
      <ion-col col-2 no-padding>
        <ion-row justify-content-center>
          <ion-avatar item-start><identicon [address]="wallet.receivingPublicAddress"></identicon></ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center><div class="line--vertical"></div></ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-avatar item-start><identicon [address]="transactionForm.get('address').value"></identicon></ion-avatar>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal padding-bottom class="address-to__buttons">
      <button outline small ion-button color="secondary" round (click)="pasteClipboard()">{{ 'transaction-prepare.paste_label' | translate }}</button>
      <button outline small ion-button color="secondary" round icon-left (click)="openScanner()">
        <ion-icon name="md-barcode"></ion-icon>
        {{ 'transaction-prepare.to-address-scan_label' | translate }}
      </button>
    </ion-row>
    <div class="divider--line"></div>
    <ion-row padding align-items-center class="amount__container">
      <ion-col col-8>
        <ion-item no-padding no-lines>
          <ion-label no-margin stacked>{{ 'transaction-prepare.amount_label' | translate }}</ion-label>
          <ion-input formControlName="amount" type="number" id="amount-input" placeholder="0.0"></ion-input>
        </ion-item>
        <p ion-text no-margin color="blackLight">
          ${{ transactionForm.get('amount').value * wallet.currentMarketPrice | number: '1.2-2' }}
        </p>
      </ion-col>
      <ion-col col-4>
        <ion-buttons end>
          <button [outline]="sendMaxAmount ? null : ''" small ion-button color="secondary" round (click)="toggleMaxAmount()">{{ 'transaction-prepare.fee.max_label' | translate }}</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <div class="divider--line"></div>
    <ion-row padding-horizontal class="fee--amount__label">
      <ion-item no-lines no-padding>
        <ion-label ion-text no-margin color="blackLight">{{ 'transaction-prepare.fee.label' | translate }} ({{ wallet.coinProtocol.feeSymbol | uppercase }})</ion-label>
        <ion-toggle mode="md" formControlName="isAdvancedMode"></ion-toggle>
      </ion-item>
    </ion-row>
    <ion-row padding-horizontal>
      <ion-item no-padding no-lines>
        <ion-range no-padding min="0" max="2" step="1" snaps="true" formControlName="feeLevel" id="feeLevel-input" color="primary">
          <ion-icon range-left color="black" md-name="hourglass_empty"></ion-icon>
          <ion-icon range-right color="black" md-name="flight_takeoff"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-row>
    <ion-row padding-horizontal>
      <ion-col col-6 no-padding><small>{{ 'transaction-prepare.fee.slow_label' | translate }}</small></ion-col>
      <ion-col col-6 text-right no-padding><small>{{ 'transaction-prepare.fee.fast_label' | translate }}</small></ion-col>
    </ion-row>
    <ion-row padding-horizontal *ngIf="transactionForm.get('isAdvancedMode').value">
      <ion-item no-padding no-lines>
        <ion-label stacked></ion-label>
        <ion-input id="fee-input" formControlName="fee" type="string"></ion-input>
        <span item-right class="input--placeholder">{{ 'transaction-prepare.fee.label' | translate }} ({{ wallet.coinProtocol.feeSymbol | uppercase }})</span>
      </ion-item>
    </ion-row>
    <ion-row padding-horizontal class="fee-amount__help">
      <p ion-text no-margin color="blackLight">
        <span id="fee-amount">${{ transactionForm.get('fee').value * wallet.currentMarketPrice | number: '1.2-4' }}</span>
        <span id="fee-amount-advanced" *ngIf="!isAdvancedMode">({{ transactionForm.get('fee').value | number: '1.2-6' }} {{ wallet.coinProtocol.feeSymbol | uppercase }})</span>
      </p>
    </ion-row>
  </form>
  <ion-fab bottom right>
    <button default ion-button color="primary" (click)="prepareTransaction()" [disabled]="transactionForm.invalid" round icon-left>
      <ion-icon md-name="open_in_new"></ion-icon>
      {{ 'transaction-prepare.create-transaction' | translate }}
    </button>
  </ion-fab>
</ion-content>
