<ion-list lines="none" no-detail class="ion-no-padding ion-no-margin">
  <ion-list-header>
    <ion-label>{{ 'wallet-edit-popover-component.settings_label' | translate }}</ion-label>
  </ion-list-header>
  <ion-item button detail="false" (click)="copyAddressToClipboard()">
    <ion-icon name="clipboard-outline" color="dark" slot="end"></ion-icon>
    {{ 'wallet-edit-popover-component.copy-address_label' | translate }}
  </ion-item>
  <ion-item id="blockexplorer" button detail="false" (click)="openBlockExplorer()">
    <ion-icon name="open-outline" color="dark" slot="end"></ion-icon>
    {{ 'wallet-edit-popover-component.block-explorer_label' | translate }}
  </ion-item>
  <ion-item *ngIf="networks.length > 1" id="network" button detail="false" (click)="changeNetwork()">
    <ion-icon name="globe-outline" color="dark" slot="end"></ion-icon>
    {{ 'wallet-edit-popover-component.change-network_label' | translate }}
  </ion-item>
  <ion-item id="delete" button detail="false" (click)="delete()">
    <ion-icon name="trash-outline" color="dark" slot="end"></ion-icon>
    {{ 'wallet-edit-popover-component.delete_label' | translate }}
  </ion-item>
  <ion-item *ngIf="importAccountAction" button detail="false" (click)="importAccountAction.start()">
    <ion-icon [name]="importAccountAction.context.icon" color="dark" slot="end"></ion-icon>
    {{ importAccountAction.context.name | translate }}
  </ion-item>
</ion-list>
