<ion-header class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'health-check.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-list>
      <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-buttons slot="end">
              <ion-button shape="round" size="small" color="secondary">
                <ion-spinner name="lines-small" color="primary" *ngIf="item.status === 'pending'"></ion-spinner>
                <span *ngIf="item.status === 'loading'">{{item.status}}</span>
                <span *ngIf="item.status === 'fail'"><ion-icon size="large" color="danger" name="close-circle"></ion-icon></span>
                <span *ngIf="item.status === 'success'">
                  <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
                </span>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </ion-grid>
</ion-content>
