<form *ngIf="wallet" [formGroup]="delegationForm" class="ion-padding-bottom">
  <ion-row class="ion-padding-horizontal padding-top ion-align-items-center amount__container">
    <ion-col size="9" class="amount--container__input ion-no-padding">
      <ion-item clasS="ion-no-padding" lines="none" [disabled]="disabled">
        <ion-label color="blackLight" class="ion-no-margin" position="stacked">Amount</ion-label>
        <ion-input type="number" formControlName="amount" id="amount-input" placeholder="0.0"></ion-input>
      </ion-item>
      <ion-text class="ion-no-margin" color="blackLight">
        <p class="ion-no-margin">${{ delegationForm.get('amount').value * wallet.getCurrentMarketPrice()?.toNumber() | number: '1.2-2' }}</p>
      </ion-text>
    </ion-col>
    <ion-col size="3" class="ion-no-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            shape="round"
            [fill]="sendMaxAmount ? 'solid' : 'outline'"
            size="small"
            color="secondary"
            (click)="toggleMaxAmount()"
            [disabled]="disabled"
          >
            {{ 'transaction-prepare.fee.max_label' | translate }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal ion-padding-bottom">
    <ion-col size="12" *ngIf="!delegationForm.controls['amount'].valid">
      <ion-text class="ion-no-margin" color="danger">
        <p class="ion-no-margin">
          {{ 'transaction-prepare.error.amount_label' | translate }}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</form>
