<ion-card class="ion-padding">
  <ion-row class="ion-justify-content-center ion-padding-bottom">
    <ion-col size="2">
      <strong>{{ widget.indexColLabel | translate }}</strong>
    </ion-col>
    <ion-col>
      <strong>{{ widget.amountColLabel | translate }}</strong>
    </ion-col>
    <ion-col>
      <strong>{{ widget.payoutColLabel | translate }}</strong>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-bottom" *ngFor="let reward of widget.rewards">
    <ion-col size="2">{{ reward.index }}</ion-col>
    <ion-col>{{ reward.amount }}</ion-col>
    <ion-col>{{ reward.timestamp | date: 'dd.LL.yy' }}</ion-col>
  </ion-row>
</ion-card>
