<ion-card [ngClass]="imageLeft ? 'background--color__gradient--reverse' : 'background--color__gradient'">
  <ion-row class="ion-align-items-center ion-padding-horizontal">
    <ion-col size="4" *ngIf="imageLeft">
      <img src="./assets/img/{{ imageName }}" />
    </ion-col>
    <ion-col size="8">
      <ion-card-title ion-text color="white" class="ion-no-padding" [innerHTML]="heading">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-card-title>
      <ion-text color="white">
        <p [innerHTML]="text" class="ion-padding-top"></p>
      </ion-text>
    </ion-col>
    <ion-col size="4" *ngIf="!imageLeft">
      <img src="./assets/img/{{ imageName }}" />
    </ion-col>
  </ion-row>
</ion-card>
