<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'account-import.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-row *ngIf="!walletAlreadyExists">
      <p>{{ 'account-import.text' | translate }}</p>
    </ion-row>

    <portfolio-item [wallet]="wallet"></portfolio-item>

    <ion-item *ngIf="walletAlreadyExists" color="danger" class="ion-margin-top ion-text-wrap">
      {{ 'account-import.warning' | translate }}
    </ion-item>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button id="dismiss" shape="round" color="secondary" (click)="dismiss()">
      {{ 'account-import.cancel_label' | translate }}
    </ion-button>
    <ion-button id="import" shape="round" color="primary" *ngIf="!walletAlreadyExists" (click)="import()">
      {{ 'account-import.import_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
