.loading-header {
  color: white;
  font-weight: 300;
  width: 100%;
  text-align: center;
  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #fff !important;
  }
}
.loading-content {
  color: white;
  font-weight: 300;
  width: 100%;
  margin-top: 20vh;
  text-align: center;
  ion-spinner * {
    width: 28px;
    height: 28px;
  }
}
ion-fab {
  width: 100%;
}

svg {
  stroke: none;
}

.mt-perelin-button {
  border: 1px solid gray;
  border-radius: 100px;
  
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    font-size: 12px;
    color: rgb(83, 83, 83);

    img {
      height: 18px;
    }
  }
}
