.loading-header {
  color: white;
  font-weight: 300;
  width: 100%;
  text-align: center;
  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #fff !important;
  }
}
.loading-content {
  color: white;
  font-weight: 300;
  width: 100%;
  margin-top: 20vh;
  text-align: center;
  ion-spinner * {
    width: 28px;
    height: 28px;
  }
}
ion-fab {
  width: 100%;
}

svg {
  stroke: none;
}
.action--container {
  background: #fff;
}
