<ion-row no-padding align-items-stretch class="amount__container border--vertical">
  <ion-col padding size="8">
    <ion-item no-padding lines="none">
      <ion-label no-margin position="stacked" color="blackLight">
        {{ (swapSell ? 'swap.sell_label' : 'swap.buy_label') | translate }}
        <span
          *ngIf="minExchangeAmount"
          [innerHTML]="'swap.min-amount_label' | translate: { minExchangeAmount: minExchangeAmount.toString() }"
        ></span>
      </ion-label>
      <ion-input *ngIf="swapSell" type="number" id="buy-input" (input)="amountSet($event.target.value)" placeholder="0.0"></ion-input>
      <ion-input
        *ngIf="!swapSell"
        [disabled]="true"
        type="number"
        id="sell-input"
        [(ngModel)]="exchangeAmount"
        placeholder="0.0"
      ></ion-input>
    </ion-item>
    <ion-text color="blackLight">
      <p no-margin>${{ exchangeAmount?.multipliedBy(selectedWallet?.currentMarketPrice)?.toNumber() | number: '1.2-2' }}</p>
    </ion-text>
    <ion-row padding-top *ngIf="swapSell && !exchangeAmount?.isZero() && exchangeAmount?.isLessThan(minExchangeAmount)">
      <ion-text no-margin color="danger">
        <p
          no-margin
          color="danger"
          [innerHTML]="'swap.min-amount-error_label' | translate: { minExchangeAmount: minExchangeAmount.toString() }"
        ></p>
      </ion-text>
    </ion-row>
    <ion-row
      padding-top
      *ngIf="swapSell && exchangeAmount?.isGreaterThan(selectedWallet.currentBalance.shiftedBy(-1 * selectedWallet.coinProtocol.decimals))"
    >
      <ion-text color="danger">
        <p
          no-margin
          [innerHTML]="
            'swap.amount-higher-than-balance-error_label'
              | translate: { accountBalance: selectedWallet.currentBalance.shiftedBy(-1 * selectedWallet.coinProtocol.decimals) }
          "
        ></p>
      </ion-text>
    </ion-row>
  </ion-col>
  <ion-col (click)="doRadio()" size="4" padding class="coin__selection ">
    <ion-row><img [src]="'assets/symbols/' + selectedProtocol?.symbol?.toLowerCase() + '.svg'" /></ion-row>
    <ion-row>
      <h5>
        {{ selectedProtocol?.identifier | uppercase }}
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </h5>
    </ion-row>
  </ion-col>
</ion-row>
<ion-list no-margin [@expandWalletAnimation] padding-vertical>
  <portfolio-item
    [wallet]="selectedWallet"
    tappable
    [isExpendable]="supportedWallets?.length > 1"
    [hideFiatAmounts]="true"
    (click)="supportedWallets?.length > 1 ? (expandWalletSelection = !expandWalletSelection) : {}"
    [isExtended]="expandWalletSelection"
    [maxDigits]="8"
  ></portfolio-item>
  <ng-container *ngIf="expandWalletSelection">
    <ion-list lines="none" margin-top [@expandWalletAnimation]>
      <ng-container *ngFor="let wallet of supportedWallets">
        <portfolio-item
          *ngIf="selectedWallet !== wallet"
          (click)="walletSet(wallet)"
          [wallet]="wallet"
          tappable
          [hideFiatAmounts]="true"
          [isExpendable]="false"
          [maxDigits]="8"
        ></portfolio-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-list>
