<ion-row class="amount__container border--vertical ion-no-padding ion-align-items-stretch">
  <ion-col class="ion-padding" size="8">
    <ion-item class="ion-no-padding" lines="none">
      <ion-label *ngIf="!liquidity" class="ion-no-margin" position="stacked" color="blackLight">
        {{ (swapSell ? 'swap.sell_label' : 'swap.buy_label') | translate }}
        <span
          *ngIf="minExchangeAmount"
          [innerHTML]="'swap.min-amount_label' | translate: { minExchangeAmount: minExchangeAmount.toString() }"
        ></span>
      </ion-label>

      <ion-label *ngIf="liquidity" class="ion-no-margin" position="stacked" color="blackLight">
        <ng-container>
          Balance:
          <span>
            {{customBalance?.shiftedBy(-1 * selectedWallet?.protocol.decimals)}} {{customSymbol}}
          </span>
        </ng-container>
      </ion-label>
      <ion-input *ngIf="swapSell" type="number" id="buy-input" [formControl]="amountControl" placeholder="0.0"></ion-input>
      <ion-input *ngIf="!swapSell" [disabled]="true" type="number" id="sell-input" [(ngModel)]="amount" placeholder="0.0"></ion-input>
    </ion-item>
    <ion-text color="blackLight" *ngIf="!liquidity">
      <p class="ion-no-margin">
        ${{ fiatAmount?.toNumber() | number: '1.2-2' }}
      </p>
    </ion-text>
    <ion-row class="ion-padding-top" *ngIf="swapSell && !amount?.isZero() && amount?.isLessThan(minExchangeAmount)">
      <ion-text no-margin color="danger">
        <p
          class="ion-no-margin"
          color="danger"
          [innerHTML]="'swap.min-amount-error_label' | translate: { minExchangeAmount: minExchangeAmount.toString() }"
        ></p>
      </ion-text>
    </ion-row>

    <ion-row class="ion-padding-top" *ngIf="currentlyNotSupported">
      <ion-text no-margin color="danger">
        <p class="ion-no-margin" color="danger">
          {{ 'swap.currently_not_supported' | translate }}
        </p>
      </ion-text>
    </ion-row>

    <ion-row
      class="ion-padding-top"
      *ngIf="(swapSell || liquidity) && amount?.isGreaterThan(customBalance?.shiftedBy(-1 * selectedWallet?.protocol.decimals))"
    >
      <ion-text color="danger">
        <p
          class="ion-no-margin"
          [innerHTML]="
          'swap.amount-higher-than-balance-error_label'
            | translate: { accountBalance: customBalance?.shiftedBy(-1 * selectedWallet?.protocol.decimals) }
        "
        ></p>
      </ion-text>
    </ion-row>
  </ion-col>
  <ion-col (click)="doRadio()" size="4" class="coin__selection ion-padding">
    <ion-row><airgap-currency-symbol class="item__image" [symbol]="selectedProtocol?.symbol" [protocolIdentifier]="selectedProtocol?.identifier"></airgap-currency-symbol></ion-row>
    <ion-row>
      <h5 *ngIf="!liquidity">
        {{ selectedProtocol?.symbol }}
        <ion-icon name="chevron-down-outline"></ion-icon>
      </h5>
    </ion-row>
  </ion-col>
</ion-row>
<ion-list *ngIf="!liquidity || supportedWallets?.length > 1" class="ion-no-margin ion-padding-vertical" [@expandWalletAnimation]>
  <portfolio-item
    [wallet]="selectedWallet"
    tappable
    [hideDelegationBadge]="true"
    [isExpendable]="supportedWallets?.length > 1 && !disableWalletSelection"
    [hideFiatAmounts]="true"
    (click)="supportedWallets?.length > 1 && !disableWalletSelection ? (expandWalletSelection = !expandWalletSelection) : {}"
    [isExtended]="expandWalletSelection"
  ></portfolio-item>
  <ng-container *ngIf="expandWalletSelection">
    <ion-list lines="none" margin-top [@expandWalletAnimation]>
      <ng-container *ngFor="let wallet of supportedWallets">
        <portfolio-item
          *ngIf="selectedWallet !== wallet"
          (click)="walletSet(wallet)"
          [wallet]="wallet"
          tappable
          [hideFiatAmounts]="true"
          [isExpendable]="false"
        ></portfolio-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-list>
