<!--TODO: take https://www.mintscan.io/validators/cosmosvaloper1sjllsnramtg3ewxqwwrwjxfgc4n4ef9u2lcnj0 & https://app.lunie.io/validators/cosmosvaloper1sjllsnramtg3ewxqwwrwjxfgc4n4ef9u2lcnj0 as a reference -->
<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'delegation-cosmos.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="12" *ngIf="validatorInfo; else bakerAvatarSkeleton">
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start"><identicon [address]="validatorAddress"></identicon></ion-avatar>
        <ion-label>
          <h2 class="font--weight__bold" ion-text color="black">
            {{ validatorAlias }}
          </h2>
          <p>{{ validatorAddress }}</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ng-template #bakerAvatarSkeleton>
    <div>
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>

  <ion-row class="ion-padding-horizontal ion-padding-bottom">
    <ion-col size="12" class="ion-no-padding">
      <p>{{ validatorStatus }}</p>
    </ion-col>
    <ion-col size="12" class="ion-no-padding">
      <div class="progress--container">
        <!--TODO: calculate percentage of self bond (total amount & self amount) -->
        <div class="progress--current" [style.width]="'80%'"></div>
      </div>
    </ion-col>
    <ion-col size="12" class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <small>0.16%</small>
          <!--TODO: show if loading 
          <ng-template #bakerInfoSkeleton>
            <div>
              <p class="ion-no-margin">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </p>
            </div>
          </ng-template>
          -->
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-text-right">
          <small>20,000 / {{ totalDelegationBalance }}</small>
          <!--TODO: show if loading 

          <ng-template #bakerInfoBalanceSkeleton>
            <div class="justify--content__end">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
          </ng-template>
        --></ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-bottom">
    <ion-col size="12">
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start" class="content--align__center-center border--container">
            <ion-icon name="logo-usd"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="font--weight__bold" ion-text color="black" *ngIf="validatorCommission; else bakerConfigSkeleton">
              <span>{{ validatorCommission }}</span>
            </h2>

            <ng-template #bakerConfigSkeleton>
              <div>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
              </div>
            </ng-template>

            <h3>{{ 'delegation-cosmos.commission_label' | translate }}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-avatar slot="start" class="content--align__center-center border--container"><ion-icon name="sync"></ion-icon></ion-avatar>
          <ion-label>
            <h2 class="font--weight__bold" ion-text color="black">
              10.25%
            </h2>
            <h3>{{ 'delegation-cosmos.rewards_label' | translate }}</h3>
            <!--TODO: show if loading 
            <ng-template #bakerConfigSkeleton>
              <h2>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h2>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
            </ng-template>
          --></ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-segment [(ngModel)]="delegationOption" class="ion-padding-horizontal">
    <ion-segment-button value="delegate">
      <ion-label>Delegate</ion-label>
    </ion-segment-button>
    <ion-segment-button value="undelegate">
      <ion-label>Undelegate</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rewards">
      <ion-label>Rewards</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="delegationOption === 'delegate'">
    <ion-row class="ion-padding-horizontal">
      <!--TODO: pass {{accountBalance}} and {{amountDelegated}} -->
      <ion-col size="12" class="ion-no-padding" *ngIf="!addressDelegated">
        <p>{{ 'delegation-cosmos.delegation.text' | translate }}</p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="addressDelegated">
        <p>{{ 'delegation-cosmos.delegation.delegated_text' | translate }}</p>
      </ion-col>
    </ion-row>
    <!--TODO: create component -->
    <form [formGroup]="delegationForm" padding-bottom>
      <ion-row class="ion-padding-horizontal padding-top align-items-center amount__container">
        <ion-col size="9" class="amount--container__input ion-no-padding">
          <ion-item clasS="ion-no-padding" lines="none">
            <ion-label color="blackLight" class="ion-no-margin" position="stacked">Amount</ion-label>
            <ion-input type="number" formControlName="amount" id="amount-input" placeholder="0.0"></ion-input>
          </ion-item>
          <ion-text class="ion-no-margin" color="blackLight">
            <p no-margin>${{ delegationForm.get('amount').value * wallet.currentMarketPrice.toNumber() | number: '1.2-2' }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button
                shape="round"
                [fill]="sendMaxAmount ? 'solid' : 'outline'"
                size="small"
                color="secondary"
                (click)="toggleMaxAmount()"
              >
                {{ 'transaction-prepare.fee.max_label' | translate }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row padding-horizontal padding-bottom>
        <ion-col size="12" *ngIf="!delegationForm.controls['amount'].valid">
          <ion-text no-margin color="danger">
            <p no-margin>
              {{ 'transaction-prepare.error.amount_label' | translate }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </form>
  </ng-container>
  <ng-container *ngIf="delegationOption === 'undelegate'">
    <ion-row class="ion-padding-horizontal">
      <!--TODO: pass {{accountBalance}} and {{amountDelegated}} -->
      <ion-col size="12" class="ion-no-padding" *ngIf="!addressDelegated">
        <p>{{ 'delegation-cosmos.undelegate.text' | translate }}</p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="addressDelegated">
        <p>{{ 'delegation-cosmos.undelegate.undelegated_text' | translate }}</p>
      </ion-col>
    </ion-row>
    <!--TODO: create component -->
    <form [formGroup]="delegationForm" padding-bottom>
      <ion-row class="ion-padding-horizontal padding-top align-items-center amount__container">
        <ion-col size="9" class="amount--container__input ion-no-padding">
          <ion-item clasS="ion-no-padding" lines="none">
            <ion-label color="blackLight" class="ion-no-margin" position="stacked">Amount</ion-label>
            <ion-input type="number" formControlName="amount" id="amount-input" placeholder="0.0"></ion-input>
          </ion-item>
          <ion-text class="ion-no-margin" color="blackLight">
            <p no-margin>${{ delegationForm.get('amount').value * wallet.currentMarketPrice.toNumber() | number: '1.2-2' }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button
                shape="round"
                [fill]="sendMaxAmount ? 'solid' : 'outline'"
                size="small"
                color="secondary"
                (click)="toggleMaxAmount()"
              >
                {{ 'transaction-prepare.fee.max_label' | translate }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row padding-horizontal padding-bottom>
        <ion-col size="12" *ngIf="!delegationForm.controls['amount'].valid">
          <ion-text no-margin color="danger">
            <p no-margin>
              {{ 'transaction-prepare.error.amount_label' | translate }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </form>
  </ng-container>
  <ng-container *ngIf="delegationOption === 'rewards'">
    <ion-row class="ion-padding-horizontal">
      <!--TODO: pass {{amountRewards}} -->
      <!--TODO: *ngif no rewards available -->
      <ion-col size="12" class="ion-no-padding" *ngIf="!addressDelegated">
        <p>{{ 'delegation-cosmos.rewards.text' | translate }}</p>
      </ion-col>
      <!--TODO: *ngif rewards available -->
      <ion-col size="12" class="ion-no-padding" *ngIf="addressDelegated">
        <p>{{ 'delegation-cosmos.rewards.claim-rewards_text' | translate }}</p>
      </ion-col>
    </ion-row>
    <!--TODO: create component -->
    <form [formGroup]="delegationForm" padding-bottom>
      <ion-row class="ion-padding-horizontal padding-top align-items-center amount__container">
        <ion-col size="9" class="amount--container__input ion-no-padding">
          <ion-item clasS="ion-no-padding" lines="none">
            <ion-label color="blackLight" class="ion-no-margin" position="stacked">Amount</ion-label>
            <ion-input type="number" formControlName="amount" id="amount-input" placeholder="0.0"></ion-input>
          </ion-item>
          <ion-text class="ion-no-margin" color="blackLight">
            <p no-margin>${{ delegationForm.get('amount').value * wallet.currentMarketPrice.toNumber() | number: '1.2-2' }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button
                shape="round"
                [fill]="sendMaxAmount ? 'solid' : 'outline'"
                size="small"
                color="secondary"
                (click)="toggleMaxAmount()"
              >
                {{ 'transaction-prepare.fee.max_label' | translate }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row padding-horizontal padding-bottom>
        <ion-col size="12" *ngIf="!delegationForm.controls['amount'].valid">
          <ion-text no-margin color="danger">
            <p no-margin>
              {{ 'transaction-prepare.error.amount_label' | translate }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </form>
  </ng-container>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="12" class="ion-no-padding">
      <ion-text color="primary">
        <p class="font--weight__bold ion-no-margin ion-ion-text">
          {{ 'delegation-cosmos.your-account.label' | translate }}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start" class="content--align__center-center border--container">
            <ion-icon name="wallet"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="font--weight__bold ion-ion-text " color="black">
              {{ wallet.currentBalance?.toNumber() | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
            </h2>
            <h3>{{ 'delegation-cosmos.your-account.balance_label' | translate }}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-avatar slot="start" class="content--align__center-center border--container">
            <ion-icon name="contacts"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="font--weight__bold ion-ion-text " color="black">
              <!--TODO: Set delegation amount-->
              {{ wallet.currentBalance?.toNumber() | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
            </h2>
            <h3>{{ 'delegation-cosmos.your-account.delegation_label' | translate }}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-avatar slot="start" class="content--align__center-center border--container">
            <ion-icon name="logo-usd"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="font--weight__bold ion-ion-text " color="black">
              <!--TODO: Set unclaimed rewards amount-->
              {{ wallet.currentBalance?.toNumber() | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
            </h2>
            <h3>{{ 'delegation-cosmos.your-account.rewards_label' | translate }}</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-bottom"></ion-row>
  <!--TODO: Set "Delegate", "Undelegate" and "Claim Rewards" depending on the active tab-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="delegate()" *ngIf="delegationOption === 'delegate'">
      {{ 'delegation-cosmos.delegate_label' | translate }}
    </ion-button>
    <ion-button shape="round" color="primary" (click)="undelegate()" *ngIf="delegationOption === 'undelegate'">
      {{ 'delegation-cosmos.undelegate_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
