<ion-item *ngIf="wallet; else skeletonWallet" lines="none" [ngClass]="!isSimplified ? 'ion-align-items-start' : ''">
  <ion-avatar slot="start">
    <airgap-currency-symbol [symbol]="wallet.protocol.symbol" [protocolIdentifier]="wallet.protocol.identifier"></airgap-currency-symbol>

    <airgap-currency-symbol
      *ngIf="(parentProtocol | async) as parent"
      [symbol]="parent.symbol"
      [protocolIdentifier]="parent.identifier"
      class="symbol--icon"
    ></airgap-currency-symbol>
  </ion-avatar>
  <ng-container *ngIf="!isSimplified">
    <ion-label class="protocol__container">
      <ion-text color="black">
        <p class="font--weight__bold" *ngIf="balance; else syncingHeading">
          {{wallet.protocol.name}}
        </p>
      </ion-text>

      <ng-template #syncingHeading>
        <h2>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </h2>
      </ng-template>
      <ng-container *ngIf="!isToken">
        <ion-text color="blackLight">
          <p *ngIf="wallet.addresses.length > 0; else syncingHeadingLow" class="typography--mono d-flex ion-align-items-center">
            <airgap-identicon *ngIf="!isToken" [address]="wallet.receivingPublicAddress"></airgap-identicon>
            <ion-badge slot="end" color="primary" *ngIf="isActive">{{ 'portfolio-item.active' | translate }}</ion-badge>
            <span class="address__span">{{ wallet.receivingPublicAddress | shortenString }}</span>
          </p>
        </ion-text>
      </ng-container>

      <ion-badge *ngIf="wallet.protocol.options.network.type !== networkType.MAINNET" color="danger" class="badge__margin">
        {{ wallet.protocol.options.network.name }}
      </ion-badge>

      <ion-badge *ngIf="(isDelegated | async) !== null && !hideDelegationBadge" color="secondary">
        {{ (isDelegated | async) ? 'delegated' : 'undelegated' }}
      </ion-badge>

      <ion-badge *ngIf="(isMultisig | async) && !hideMultisigBadge" color="primary">
        {{'account-transaction-list.multisig' | translate }}
      </ion-badge>

      <ng-template #syncingHeadingLow>
        <div>
          <h3>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </h3>
        </div>
      </ng-template>
    </ion-label>
  </ng-container>

  <div class="ion-text-right" slot="end" *ngIf="!isExpendable && !hideFiatAmounts">
    <ng-container *ngIf="!hideBalances">
      <ng-container *ngIf="balance; else syncingPrice">
        <ion-text color="black">
          <p class="font--weight__bold porfolio-item__margin">
            {{ balanceFormatted }} {{ wallet.protocol.symbol}}
          </p>
        </ion-text>
      </ng-container>
      <ng-template #syncingPrice>
        <p>
          <ion-skeleton-text animated style="width: 40px;"></ion-skeleton-text>
        </p>
      </ng-template>

      <ng-container *ngIf="balance && marketPrice; else syncingBalance">
        <ion-text color="blackLight">
          <p class="porfolio-item__margin" *ngIf="marketPrice && marketPrice.toNumber() > 0">
            {{ '' | fiatCurrencySymbol }}{{ balance | cryptoToFiat: { protocolIdentifier: wallet.protocol.identifier, currentMarketPrice:
            marketPrice } | async | number: '1.2-2' }}
          </p>
        </ion-text>
      </ng-container>
      <ng-template #syncingBalance>
        <p>
          <ion-skeleton-text animated style="width: 40px;"></ion-skeleton-text>
        </p>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="hideBalances">
      <ion-text color="black">
        <p class="font--weight__bold porfolio-item__margin">*****</p>
      </ion-text>
      <ion-text color="blackLight">
        <p class="porfolio-item__margin">***</p>
      </ion-text>
    </ng-container>
  </div>
  <ion-icon
    slot="end"
    *ngIf="isExpendable"
    class="expendable__container"
    [ngClass]="{ 'icon--rotated': isExtended }"
    name="chevron-down-outline"
  ></ion-icon>
</ion-item>

<ng-template #skeletonWallet>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
      <div class="symbol--icon">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-avatar>
    <ion-label>
      <h2>
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </h2>
      <h3 *ngIf="!isToken">
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      </h3>
    </ion-label>
    <div slot="end">
      <p>
        <ion-skeleton-text animated style="width: 40px;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 40px;"></ion-skeleton-text>
      </p>
    </div>
  </ion-item>
</ng-template>
