.expendable__container {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  &.icon--rotated {
    transform: rotate(180deg);
  }
}

p,
ion-label {
  margin: 0;
}
ion-badge {
  font-size: 10px;
  margin: 4px 0 0 0;
}
.badge__margin {
  margin: 0px 6px 0px 0px;
}

.porfolio-item__margin {
  margin: 2px 0px 6px;
}
.symbol--icon {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 40px;
  top: 32px;
}

.typography--mono {
  font-size: 12px;
  padding: 4px 0;
}
.address__span {
  padding-left: 4px;
}
.font--weight__bold {
  font-size: 13px;
}
.protocol__container {
  min-height: 52px;
}

ion-avatar {
  min-height: 48px;
}
