<ion-item *ngIf="wallet; else skeletonWallet" lines="none">
  <ion-avatar slot="start">
    <identicon *ngIf="!isToken" [address]="wallet.receivingPublicAddress"></identicon>
    <currency-symbol [symbol]="wallet.coinProtocol.symbol" *ngIf="isToken"></currency-symbol>
    <currency-symbol [symbol]="wallet.coinProtocol.symbol" *ngIf="!isToken" class="symbol--icon"></currency-symbol>
  </ion-avatar>
  <ion-label>
    <h2
      class="font--weight__bold"
      [ngClass]="{ 'porfolio-item__margin': !isDelegated, 'font-size__small': numberOfDecimalsInBalance > smallFontDecimalThreshold }"
      *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncingHeading"
    >
      {{ balance }}
    </h2>
    <ng-template #syncingHeading>
      <h2>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h2>
    </ng-template>
    <ng-container *ngIf="!isToken">
      <ion-text color="blackLight">
        <h3 *ngIf="wallet.addresses.length > 0; else syncingHeadingLow" class="typography--mono">
          <ion-badge slot="end" color="primary" *ngIf="isActive">{{ 'portfolio-item.active' | translate }}</ion-badge>
          {{ wallet.receivingPublicAddress | shortenString }}
        </h3>
      </ion-text>
    </ng-container>

    <ion-badge *ngIf="(isDelegated | async) !== null && !hideDelegationBadge" color="secondary">
      {{ (isDelegated | async) ? 'delegated' : 'undelegated' }}
    </ion-badge>

    <ng-template #syncingHeadingLow>
      <div>
        <h3>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </h3>
      </div>
    </ng-template>
  </ion-label>

  <div slot="end" *ngIf="!isExpendable && !hideFiatAmounts">
    <p
      class="ion-text-right font--weight__bold porfolio-item__margin"
      *ngIf="wallet.currentBalance && wallet.currentMarketPrice; else syncingBalance"
    >
      ${{ wallet.currentBalance | cryptoToFiat: { protocolIdentifier: wallet.protocolIdentifier, currentMarketPrice:
      wallet.currentMarketPrice } | number: '1.2-2' }}
    </p>
    <ng-template #syncingBalance>
      <p>
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </p>
    </ng-template>
    <p *ngIf="wallet.currentBalance; else syncingPrice">
      <ion-text color="blackLight">
        <span *ngIf="wallet.currentBalance?.toNumber() > 0">${{ wallet.currentMarketPrice?.toNumber() | number: '1.2-4' }}</span>
      </ion-text>
    </p>
    <ng-template #syncingPrice>
      <p>
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </p>
    </ng-template>
  </div>
  <ion-icon
    slot="end"
    *ngIf="isExpendable"
    class="expendable__container"
    [ngClass]="{ 'icon--rotated': isExtended }"
    name="chevron-down-outline"
  ></ion-icon>
</ion-item>

<ng-template #skeletonWallet>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
      <div class="symbol--icon">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-avatar>
    <ion-label>
      <h2>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h2>
      <h3 *ngIf="!isToken">
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
    </ion-label>
    <div slot="end">
      <p>
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </p>
    </div>
  </ion-item>
</ng-template>
