<ion-header no-border no-shadow>
  <ion-navbar color="whiteSecondaryContrast">
    <ion-title>{{ 'introduction.title' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" clear icon-only>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <h2 *ngIf="nextAction === 'shareWallet'">Do you want to share your wallet with the aepp?</h2>

  <h2 *ngIf="nextAction === 'prepareTransaction'">Do you want to sign the following data?:</h2>
  <p *ngIf="nextAction === 'prepareTransaction'">{{ data }}</p>

  <ion-fab bottom right>
    <button ion-button round color="secondary" (click)="dismiss()">
      dismiss
    </button>
    <button ion-button round color="primary" (click)="shareWallet()" *ngIf="nextAction === 'shareWallet'">share wallet</button>
    <button ion-button round color="primary" (click)="prepareTransaction()" *ngIf="nextAction === 'prepareTransaction'">
      sign data
    </button>
  </ion-fab>
</ion-content>
