<ion-row class="ion-padding-horizontal" *ngIf="transactionType === 'pendingTransaction' && hasPendingTransactions">
  <ion-col size="12" class="ion-no-padding ion-padding-top">
    <ion-text color="primary">
      <p class="font--weight__bold">
        {{ 'account-transaction-list.pending-transactions.label' | translate }}
      </p>
    </ion-text>
  </ion-col>
  <ion-col size="12" class="ion-no-padding">
    <ion-button (click)="openBlockexplorer()" fill="outline" color="secondary" shape="round" slot="start" size="small">
      <ion-icon slot="start" name="open"></ion-icon>
      {{ 'account-transaction-list.pending-transactions.open-blockexplorer_label' | translate }}
    </ion-button>
  </ion-col>
</ion-row>

<ion-row class="ion-padding-horizontal" *ngIf="transactionType === 'exchangeTransaction' && hasExchangeTransactions">
  <ion-text color="primary">
    <p class="font--weight__bold">
      {{ 'account-transaction-list.pending-exchange-transactions.label' | translate }}
    </p>
  </ion-text>
</ion-row>

<ion-list lines="none" class="ion-padding-bottom">
  <ion-item *ngFor="let tx of transactions" (click)="openTransactionDetailPage(tx)">
    <ion-avatar slot="start">
      <identicon *ngIf="tx.isInbound" [address]="tx.from[0]"></identicon>
      <identicon *ngIf="!tx.isInbound" [address]="tx.to[0]"></identicon>
    </ion-avatar>
    <ion-label>
      <h2>
        <ion-icon *ngIf="tx.isInbound" src="../../assets/custom-ion-icons/md-call_received.svg"></ion-icon>
        <ion-icon *ngIf="!tx.isInbound" src="../../assets/custom-ion-icons/md-call_made.svg"></ion-icon>
        <span class="font--weight__bold" color="black">
          {{ tx.amount | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
        </span>
      </h2>
      <ion-text color="blackLight">
        <h3 class="typography--mono">
          <ng-container *ngIf="tx.isInbound">{{ tx.from[0] | shortenString }}</ng-container>
          <ng-container *ngIf="!tx.isInbound">{{ tx.to[0] | shortenString }}</ng-container>
        </h3>
      </ion-text>
    </ion-label>
    <p slot="end" *ngIf="transactionType === 'exchangeTransaction'">
      {{ tx.status }}
    </p>
    <ion-row class="items--right" slot="end" *ngIf="transactionType === 'normalTransaction'">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-justify-content-end">
          <ion-text color="blackLight">
            <p *ngIf="tx.timestamp">
              {{
                tx.timestamp
                  | amFromUnix
                  | amCalendar: { sameDay: '[Today]', lastDay: '[Yesterday]', lastWeek: '[Last] dddd', sameElse: 'HH:mm' }
              }}
            </p>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-end">
          <ion-text color="blackLight">
            <p *ngIf="tx.timestamp">
              {{
                tx.timestamp
                  | amFromUnix
                  | amCalendar: { sameDay: '[at] HH:mm', lastDay: '[at] HH:mm', lastWeek: '[at] HH:mm', sameElse: 'L' }
              }}
            </p>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-item>
  <div *ngIf="isRefreshing && !initialTransactionsLoaded" class="loading-content">
    <ion-spinner color="black"></ion-spinner>
  </div>
</ion-list>
