<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'delegation-validator-list.title' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems(searchTerm)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-vertical">
  <ion-row>
    <ion-col size="12">
      <ion-text color="primary">
        <p class="font--weight__bold ion-no-margin ion-ion-text">
          {{ 'delegation-validator-list.your-validators_label' | translate }}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="myValidators">
    <ion-list lines="none" *ngFor="let validator of myValidators">
      <ion-item class="ion-no-padding" (click)="navigate(validator.operator_address)">
        <ion-avatar slot="start"><identicon [address]="validator.operator_address"></identicon></ion-avatar>
        <ion-label>
          <ion-text color="black">
            <ion-row class="ion-no-padding ">
              <ion-col size="9" class="ion-no-padding">
                <h2 class="font--weight__bold">
                  {{ validator.description.moniker }}
                </h2>
              </ion-col>
              <ion-col size="3" class="ion-text-end ion-no-padding">
                <p class="ion-no-margin">{{ validator.commission.rate | percentage }} commission</p>
              </ion-col>
            </ion-row>
          </ion-text>
          <ion-row class="ion-no-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-text color="blackLight">
                <p class="ion-no-margin typography--mono">{{ validator.operator_address | shortenString }}</p>
              </ion-text>
            </ion-col>
            <ion-col size="8" class="ion-text-end ion-no-padding">
              <ion-text color="blackLight">
                <p class="ion-no-margin">
                  {{ validator.tokens | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-row>
    <ion-col size="12">
      <ion-text color="primary">
        <p class="font--weight__bold ion-no-margin ion-ion-text">
          {{ 'delegation-validator-list.validators_label' | translate }}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="filteredValidators; else loadingTemplate">
    <ion-list lines="none" *ngFor="let validator of filteredValidators">
      <ion-item class="ion-no-padding" (click)="navigate(validator.operator_address)">
        <ion-avatar slot="start">
          <identicon [address]="validator.operator_address"></identicon>
        </ion-avatar>
        <ion-label>
          <ion-text color="black">
            <ion-row class="ion-no-padding ">
              <ion-col size="9" class="ion-no-padding">
                <h2 class="font--weight__bold">
                  {{ validator.description.moniker }}
                </h2>
              </ion-col>
              <ion-col size="3" class="ion-text-end ion-no-padding">
                <p class="ion-no-margin">{{ validator.commission.rate | percentage }} commission</p>
              </ion-col>
            </ion-row>
          </ion-text>
          <ion-row class="ion-no-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-text color="blackLight">
                <p class="ion-no-margin typography--mono">{{ validator.operator_address | shortenString }}</p>
              </ion-text>
            </ion-col>
            <ion-col size="8" class="ion-text-end ion-no-padding">
              <ion-text color="blackLight">
                <p class="ion-no-margin">
                  {{ validator.tokens | amountConverter: { protocolIdentifier: wallet.protocolIdentifier, maxDigits: 10 } }}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #loadingTemplate>
      <div>
        <h2>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h2>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
