.onboarding__container {
  img {
    width: 50vh;
    height: 50vh;
  }
}
.divider--line {
  border-top: 1px solid rgba(var(--ion-color-primary-rgb), 0.24);
}
.powered__container {
  img {
    width: 96px;
    height: 24px;
  }
}
