<ion-list lines="none" no-detail class="ion-no-padding ion-no-margin">
  <ion-list-header>
    <ion-label>{{ 'delegate-edit-popover.delegation-settings_label' | translate }}</ion-label>
  </ion-list-header>
  <ion-item button detail="false" (click)="changeDelegatee()">
    <ion-icon name="create-outline" color="dark" slot="end"></ion-icon>
    <span *ngIf="delegateeLabel">
      {{ 'delegate-edit-popover.change-delegatee_label' | translate: { delegateeLabel: delegateeLabel | translate } }}
    </span>
  </ion-item>
</ion-list>
