<ion-list lines="none" no-detail class="ion-no-padding ion-no-margin">
  <ion-list-header>
    <ion-label>{{ 'delegate-edit-popover.delegation-settings_label' | translate }}</ion-label>
  </ion-list-header>
  <ion-item *ngIf="!hideAirGap" button detail="false" (click)="changeDelegateeToAirGap()">
    <ion-icon name="swap-vertical-outline" color="dark" slot="end"></ion-icon>
    Change to AirGap {{ delegateeLabel }}
  </ion-item>
  <ion-item button detail="false" (click)="changeDelegatee()">
    <ion-icon name="create-outline" color="dark" slot="end"></ion-icon>
    <span *ngIf="delegateeLabel">Change {{ delegateeLabel }}</span>
  </ion-item>
  <ion-item *ngIf="hasMultipleDelegatees" button detail="false" (click)="showAllDelegatees()">
    <ion-icon name="list-outline" color="dark" slot="end"></ion-icon>
    Show {{ delegateeLabel }} List
  </ion-item>
  <ion-item *ngFor="let action of secondaryDelegatorActions || []" button detail="false" (click)="callSecondaryAction(action.type)">
    <ion-icon [name]="action.iconName || 'send-outline'" color="dark" slot="end"></ion-icon>
    {{ action.confirmLabel || action.label }}
  </ion-item>
</ion-list>
