// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* forces the paragraph size */
p {
  font-size: 14px;
}

/* forces the ion-label size */
ion-label {
  font-size: 12px;
}

ion-card-title {
  font-size: 20px;
}

/* iOS font-size fix */
.sc-ion-label-ios-s h2 {
  font-size: 16px;
}
.font-size__regular {
  font-size: 14px !important;
}

identicon {
  width: inherit;
  height: inherit;
  min-width: 48px;
  min-height: 48px;
}

/* Styling of translated messages */
.color__primary {
  color: var(--ion-color-primary);
}

/* Styling of translated messages */
.color__secondary {
  color: var(--ion-color-secondary);
}

.style__strong {
  font-weight: bold;
}

.scanning {
  background: none !important;
}

/* Content in item is not shortened */
.item-md p {
  white-space: initial;
}
.d-flex {
  display: flex;
}
pre {
  background-color: var(--ion-color-light);
  padding: 8px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

/* Center content vertically and horizontally */
.content--align__center-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.content--align-vert__center {
  align-items: center !important;
}
.justify--content__end {
  display: flex;
  justify-content: flex-end;
}
.font--weight__light {
  font-weight: 200;
}
.font--weight__bold {
  font-weight: 700 !important;
}
.font--weight__med {
  font-weight: 500;
}

.text--selectable {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

ion-list-header {
  ion-label {
    font-size: 14px;
  }
}

airgap-iac-qr {
  padding: 20px;
  background-color: white;
}

/* FAB with a button, bottom padding fix for ios devices */
.ios {
  .can-go-back {
    ion-fab.fab-vertical-bottom {
      bottom: 24px;
    }
  }
  tezos-fa-form {
    .label--radio {
      height: 32px !important;
      margin-top: 16px;
    }
  }
}
tezos-fa-form {
  ion-avatar {
    min-height: 32px;
    min-width: 32px;
  }
}
/* Fixes card padding & margin */
ion-card {
  padding: 8px 0;
}
page-account-transaction-list {
  ion-card {
    margin: 8px 16px;
  }
}

permission-request,
app-walletconnect {
  .request--container {
    airgap-identicon,
    airgap-identicon img,
    img {
      width: 48px;
      height: 48px;
    }
  }
  ion-item {
    ion-avatar {
      height: 24px;
      width: 24px;
    }
    ion-avatar,
    airgap-identicon img {
      min-width: 24px !important;
      min-height: 24px !important;
    }
  }
}

/* Account onboarding progress bar styling */
page-account-import-onboarding,
page-account-import-ledger-onboarding {
  .swiper-pagination-custom {
    top: 0;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--ion-color-primary);
  }
  .swiper-pagination-progressbar {
    background: rgba(var(--ion-color-secondary-rgb), 0.12);
  }
}

.typography--mono {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600 !important;
  font-size: 14px;
  word-wrap: break-word;
}
page-settings {
  ion-range {
    padding-left: 0;
    padding-right: 0;
  }
}
page-scan {
  zxing-scanner {
    height: 100%;
    width: 100%;
    video {
      object-fit: cover;
      height: 100% !important;
    }
  }
}

.active-link {
  font-weight: 500;
  --color-selected: var(--ion-color-secondary);
}

/* Common Components styling */

// identicon.component
portfolio-item,
transaction-item {
  airgap-identicon {
    height: 48px;
    width: 48px;
  }
}
airgap-currency-symbol {
  img {
    border-radius: 50%;
  }
}
page-sub-account-add {
  airgap-currency-symbol {
    img {
      width: 100%;
    }
  }
}
