<ion-header>
  <ion-toolbar>
    <ion-title>health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="healthInfo">
    <ion-card *ngFor="let health of healthInfo">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{health.identifier}}</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

      <ion-card-content>
        This is content, without any paragraph or header tags, within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
