<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'add-account.title' | translate }}</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="md" [(ngModel)]="searchTerm" (ionChange)="searchTermChanged()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <currency-item
      (click)="addAccount(protocol.identifier)"
      *ngFor="let protocol of filteredAccountProtocols"
      [protocol]="protocol"
    ></currency-item>
    <currency-item
      (click)="addSubAccount(subProtocol.identifier)"
      *ngFor="let subProtocol of filteredSubAccountProtocols"
      [protocol]="subProtocol"
    ></currency-item>
  </ion-list>
</ion-content>
