<ion-item
  lines="none"
  [detail]="widget.detail"
  class="ion-margin-vertical"
  [color]="widget.color"
  (click)="widget.onClick ? widget.onClick() : undefined"
>
  <ion-icon [name]="widget.icon" slot="start" color="dark"></ion-icon>
  <ion-label color="dark" class="ion-text-wrap">
    <h3><strong>{{ widget.title | translate }}</strong></h3>
    <p [innerHTML]="widget.description | translate"></p>
    <div *ngIf="widget.actions">
      <ion-button color="light" *ngFor="let action of widget.actions" (click)="action.action()">
        {{ action.text | translate }}
      </ion-button>
    </div>
  </ion-label>
</ion-item>
