<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
  <div>
    <div style="color: white; width: 100%; text-align:center; height: 150px; font-size: 40px; font-weight: 300; margin-top: 20px">
      <div style="margin-top: 30px;">${{ total | number: '1.2-2' }}</div>
      <!--
        <div [ngClass]="percentageChangedClass" style="font-size: 20px;">
          {{ winPercentage | number : '1.2-2' }}%
        </div>
      -->
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>

  <ng-container *ngIf="(wallets | async) as walletsArray; else loading">
    <ng-container *ngIf="walletsArray.length; else noItems">
      <ion-list no-lines margin-top *ngFor="let wallet of walletsArray">
        <portfolio-item [wallet]="wallet" [maxDigits]="8" tappable (click)="openDetail(wallet)"></portfolio-item>
      </ion-list>
    </ng-container>
    <ng-template #noItems>
      <ion-row class="container__empty" padding justify-content-center>
        <img src="assets/img/sync_wallet_onboarding_1.svg" />
        <p [innerHTML]="'portfolio.empty-state_text' | translate"></p>
      </ion-row>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-list no-lines margin-top>
      <portfolio-item></portfolio-item>
      <portfolio-item></portfolio-item>
      <portfolio-item></portfolio-item>
      <portfolio-item></portfolio-item>
    </ion-list>
  </ng-template>

  <ion-fab right bottom>
    <ng-container *ngIf="(wallets | async) as walletsArray">
      <button *ngIf="walletsArray.length > 0" ion-fab color="secondary" (click)="openSyncPage()">
        <ion-icon md-name="vertical_align_bottom"></ion-icon>
      </button>
      <button *ngIf="walletsArray.length === 0" color="secondary" (click)="openSyncPage()" ion-button round icon-left>
        <ion-icon md-name="vertical_align_bottom"></ion-icon>
        {{ 'portfolio.sync_label' | translate }}
      </button>
    </ng-container>
  </ion-fab>
</ion-content>
