page-delegation-baker-detail {
  .progress--container {
    width: 100%;
    height: 4px;
    background-color: rgba(color($colors, primary), 0.12);
  }
  .progress--current {
    height: inherit;
    background-color: color($colors, primary, base);
  }
  .border--container {
    border: 1px solid color($colors, secondary, base);
    border-radius: 50%;
  }
}
