page-delegation-baker-detail {
  .progress--container {
    width: 100%;
    height: 4px;
    background-color: rgba(color($colors, primary), 0.12);
  }
  .progress--current {
    width: 50%;
    height: inherit;
    background-color: color($colors, primary, base);
  }
  .border--container {
    border: 1px solid color($colors, secondary, base);
    border-radius: 50%;
  }
  .card-ios,
  .card-md {
    padding: 8px 0;
    box-shadow: 0 10px 20px 0 rgba(color($colors, secondary), 0.12);
    border: 1px solid rgba(color($colors, primary), 0.08);
  }

  .skeleton--loading,
  .skeleton--loading__container {
    h2,
    h3,
    p,
    ion-avatar,
    .symbol--icon {
      -webkit-animation: infinite bgcolorchange 4s;
      animation: 4s infinite bgcolorchange;
      opacity: 0.5;
    }
    .symbol--icon {
      border-radius: 50%;
    }
    h2 {
      height: 19px;
      width: 80%;
    }
    h3 {
      height: 40px;
      width: 40%;
    }
    p {
      height: 1.4rem;
      width: 80%;
      min-width: 25px;
    }
    ion-avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }
  @keyframes bgcolorchange {
    0% {
      background: color($colors, light);
    }
    25% {
      background: color($colors, gray);
    }
    50% {
      background: color($colors, light);
    }
    75% {
      background: color($colors, gray);
    }
    100% {
      background: color($colors, light);
    }
  }

  @-webkit-keyframes bgcolorchange {
    0% {
      background: color($colors, light);
    }
    25% {
      background: color($colors, gray);
    }
    50% {
      background: color($colors, light);
    }
    75% {
      background: color($colors, gray);
    }
    100% {
      background: color($colors, light);
    }
  }
}
