<ion-item lines="none" class="ion-no-padding">
  <ion-avatar slot="start">
    <identicon [address]="widget.address"></identicon>
  </ion-avatar>
  <ion-label>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="widget.hasName">{{ widget.name }}</h2>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="!widget.hasName">{{ widget.address }}</h2>
    <p *ngIf="widget.hasName">{{ widget.address }}</p>
    <h3 *ngIf="widget.description">{{ widget.description }}</h3>
  </ion-label>
</ion-item>
