<ion-item lines="none" class="ion-no-padding ion-no-margin">
  <ion-avatar slot="start">
    <img *ngIf="widget.logo" [src]="widget.logo" (error)="widget.onInvalidLogo()" />
    <airgap-identicon *ngIf="!widget.logo" [address]="widget.address"></airgap-identicon>
  </ion-avatar>
  <ion-label>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="widget.hasName">{{ widget.name }}</h2>
    <h2 class="font--weight__bold" ion-text color="black" *ngIf="!widget.hasName">{{ widget.address | shortenString }}</h2>

    <ion-text color="blackLight">
      <p *ngIf="widget.hasName && !widget.shortenAddress" class="typography--mono">{{ widget.address }}</p>
      <p *ngIf="widget.hasName && widget.shortenAddress" class="typography--mono">{{ widget.address | shortenString }}</p>
    </ion-text>

    <h3 *ngIf="widget.description">{{ widget.description }}</h3>
  </ion-label>
</ion-item>
