<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'isolated-modules-onboarding.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <airgap-isolated-modules-onboarding></airgap-isolated-modules-onboarding>

  <div class="ion-padding"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="acknowledge()">
      {{ 'isolated-modules-onboarding.content.button_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
