<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text color="white">{{ 'transaction-qr.title' | translate: { title: wallet.protocolIdentifier | uppercase } }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding margin-bottom class="colored-background">
  <ion-row>
    <h5>{{ 'transaction-qr.text' | translate }}</h5>
  </ion-row>

  <ion-row justify-content-center padding-top>
    <qr-clipboard *ngIf="!qrDataTooBig" [qrdata]="preparedDataQR" level="L" size="400"></qr-clipboard>
    <h1 ion-text color="white" *ngIf="qrDataTooBig">{{ 'transaction-qr.qr-data-too-big_warning' | translate }}</h1>
  </ion-row>

  <from-to *ngIf="airGapTx" padding-horizontal [transaction]="airGapTx"></from-to>
  <signed-transaction *ngIf="!airGapTx" [syncProtocolString]="preparedDataQR"></signed-transaction>

  <ion-fab bottom right>
    <button default ion-button color="secondary" (click)="done()" round item-right>{{ 'transaction-qr.done_label' | translate }}</button>
  </ion-fab>
</ion-content>
