<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'select-wallet.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p [innerHTML]="'select-wallet.text' | translate" padding-horizontal></p>
  <ion-text color="primary">
    <p class="font--weight__bold" padding-horizontal>
      {{ 'select-wallet.compatible_label' | translate }}
    </p>
  </ion-text>
  <ion-list lines="none" margin-top *ngFor="let wallet of compatibleWallets">
    <portfolio-item [wallet]="wallet" [maxDigits]="8" tappable (click)="openPreparePage(wallet)"></portfolio-item>
  </ion-list>

  <ion-text color="primary">
    <p class="font--weight__bold" padding-horizontal>
      {{ 'select-wallet.incompatible_label' | translate }}
    </p>
  </ion-text>
  <ion-list lines="none" margin-top *ngFor="let wallet of incompatibleWallets">
    <portfolio-item [wallet]="wallet" [maxDigits]="8" tappable (click)="openPreparePage(wallet)"></portfolio-item>
  </ion-list>
</ion-content>
