<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="startApp">
    <param name="ios-package" value="startApp"/>
  </feature>

  <feature name="Clipboard">
    <param name="ios-package" value="CDVClipboard"/>
  </feature>

  <feature name="AppVersion">
    <param name="ios-package" value="AppVersion"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>

  <feature name="QRScanner">
    <param name="ios-package" value="QRScanner"/>
  </feature>

  <feature name="SocialSharing">
    <param name="ios-package" value="SocialSharing"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="SQLitePlugin">
    <param name="ios-package" value="SQLitePlugin"/>
  </feature>

  <feature name="Diagnostic">
    <param name="ios-package" value="Diagnostic"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Location">
    <param name="ios-package" value="Diagnostic_Location"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Bluetooth">
    <param name="ios-package" value="Diagnostic_Bluetooth"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Wifi">
    <param name="ios-package" value="Diagnostic_Wifi"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Camera">
    <param name="ios-package" value="Diagnostic_Camera"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Notifications">
    <param name="ios-package" value="Diagnostic_Notifications"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Microphone">
    <param name="ios-package" value="Diagnostic_Microphone"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Contacts">
    <param name="ios-package" value="Diagnostic_Contacts"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Calendar">
    <param name="ios-package" value="Diagnostic_Calendar"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Reminders">
    <param name="ios-package" value="Diagnostic_Reminders"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Diagnostic_Motion">
    <param name="ios-package" value="Diagnostic_Motion"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="IonicDeeplinkPlugin">
    <param name="ios-package" value="IonicDeeplinkPlugin" onload="true"/>
  </feature>

  <feature name="PushNotification">
    <param name="ios-package" value="PushPlugin"/>
  </feature>

  
</widget>