<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214244309595-r8faqgnqfrj92s8bq14ceds05q3subd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214244309595-r8faqgnqfrj92s8bq14ceds05q3subd0</string>
	<key>API_KEY</key>
	<string>AIzaSyBAr99f6veuxrkbPlS0aPOg5thcvAupdRI</string>
	<key>GCM_SENDER_ID</key>
	<string>214244309595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.airgap.wallet</string>
	<key>PROJECT_ID</key>
	<string>airgap-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>airgap-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214244309595:ios:a63700f158ed0afa</string>
	<key>DATABASE_URL</key>
	<string>https://airgap-wallet.firebaseio.com</string>
</dict>
</plist>