<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'beacon-request.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="request">
    <div *ngIf="request.type === 'permission_request'" class="request--container">
      <ion-row>
        <ion-col class="ion-text-center" size="3">
          <ion-avatar>
            <identicon [address]="dappInfo.pubKey"></identicon>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div class="divider--line"></div>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-icon name="checkmark-circle-outline" color="secondary" size="large" class="ion-margin-top"></ion-icon>
        </ion-col>
        <ion-col>
          <div class="divider--line"></div>
        </ion-col>
        <ion-col class="ion-text-center" size="3">
          <ion-avatar>
            <identicon [address]="address"></identicon>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left" size="4">
          <h5 class="ion-no-margin">{{ dappInfo.name | shortenString }}</h5>
        </ion-col>
        <ion-col class="ion-text-right" size="4" push="4">
          <h5 class="ion-no-margin">{{ address | shortenString }}</h5>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="request.type === 'permission_request'">
      <h2 [innerHTML]="'beacon-request.request.heading' | translate: { requesterName: dappInfo.name }"></h2>
      <p class="ion-padding-top">{{ 'beacon-request.request.text' | translate }}</p>

      <ion-list>
        <ion-item *ngFor="let input of inputs">
          <ion-label>{{ input.label }}</ion-label>
          <ion-checkbox [(ngModel)]="input.checked" slot="start"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-row>

    <div *ngIf="request.type === 'sign_payload_request'" class="request--container">
      Not implemented
    </div>

    <div *ngIf="request.type === 'operation_request'" class="request--container">
      Not implemented
    </div>

    <div *ngIf="request.type === 'broadcast_request'" class="request--container">
      Not implemented
    </div>

    <pre *ngIf="request.type !== 'permission_request'">{{ request | json }}</pre>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button shape="round" color="secondary" (click)="dismiss()">
        {{ 'beacon-request.dismiss_label' | translate }}
      </ion-button>
      <ion-button *ngIf="request.type === 'permission_request'" shape="round" color="primary" (click)="done()">
        {{ 'beacon-request.connect_label' | translate }}
      </ion-button>
    </ion-fab>
  </ng-container>
</ion-content>
