.divider--line {
  border-top: 2px solid var(--ion-color-primary);
  margin-top: 32px;
}
.request--container {
  h5 {
    word-break: break-all;
  }
  ion-avatar {
    display: block;
    margin: auto;
  }
}
